.version.contact /* version checker */
{
	color: #00001B;
	background-color: #3345BA;
}

#page
{
	z-index: 1;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 1018px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 321px;
}

