// Deault css is for mobile devices. see responsive.css for tablet/desktop css

// Colors

//Main
$grey:#E6E2E8
$red:#C31632

//accents
$pink:#E6907F
$darkolive:#979663
$lightolive:#DAD39D
$white:#F5F5F5
$white-green:#E8F5E9
$darkgreen:#388E3C
$lightgreen:#4CAF50


@font-face 
    font-family: fontAwesome
    src: url('../css/FontAwesome.otf')

@font-face 
    font-family: BebasNeue
    src: url('../css/BebasNeue Regular.otf')

@font-face 
    font-family: OpenSans
    
body
    background-color: $white-green
    font-family: 'Raleway', arial, serif
    font-weight: 300
    width: 100%
    //overflow-x: hidden
    
    p
        color: $white
        //opacity: .9
        line-height: 1.6
        letter-spacing: 1px
        font-size: 14px
    
    h1
        font-size: 56px
        //opacity: .9
        letter-spacing: 6px
        font-weight: 500
        
    h2
        font-size: 16px
        //opacity: .9
        letter-spacing: 2px
        font-weight: 500
 
    a
        color: $white
        //opacity: .9
        font-size: 14px
        font-weight: 400
        letter-spacing: 1.6px
        text-decoration: none
    
#navbar
    //border-bottom: 1px solid $white-green
    min-height: 75px
    padding: 1.5vw auto
    width: 100%
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    background-color: $white
    flex-direction: row

    a
        color: $white-green
        //margin-top: 1px
        //border: 1px solid white
        font-size: 12px
        font-weight: 500
        text-decoration: none
        //transition: all 0.3s ease
        //padding-bottom: 5px

    a:hover
        border-bottom: 1px solid $white-green
        padding-bottom: 5px
        margin-bottom: -6px

    #logo
        width: 80%
        display: flex
        //background-color: $lightgreen
        align-items: center
        justify-content: flex-start
        height: 100%
        margin-left: 15px
        p
            font-size: 32px
            color: $darkgreen
            font-weight: 600
            letter-spacing: 1px
            span
                font-weight: 200


    #navigation
        width: 20%
        //border: 1px solid white
        height: 100%
        //background-color: $darkgreen
        display: flex
        align-items: center
        justify-content: flex-end
        
        .mobile-nav-toggle
            width: 50px
            height: 50px
            //background: pink
            margin-right: 5px
            display: flex
            font-family: fontAwesome
            align-items: center
            p
                font-size: 32px
                color: black
                cursor: pointer
            
    
        .full-nav
            display: none !important
                
.mobile-nav
    display: flex
    flex-direction: column
    align-items: center
    background-color: $white
    justify-content: space-around
    width: 100vw
    height: calc( 100vh - 75px)
    display: none
    //padding-top: 75px
    
    ul 
        width: 100%
        list-style-type: none
        height: calc( 100vh - 75px)
        li
            height: 28vh
            //border: solid 1px black
            
        
        li a
            display: block
            color: black
            line-height: 28vh
            text-align: center
            
.work-content
    width: 100% !important
    //border: 10px solid red
    
    .work-tile
        width: 100%
        height: 300px
        //border: 1px solid black
        display: flex
        
        align-items: center
        justify-content: center

        a
            height: 100%
            line-height: 300px
            text-align: center
            width: 100%
            font-family: 'BebasNeue'
            font-weight: 400
            font-size: 40px
            //border: 1px solid black
            transition: opacity 0.3s ease
            opacity: 1

        a:hover
            opacity: 1
        
    .vin1000-tile
        background: url("../img/vin1000.jpg") center no-repeat
        background-size: cover
        
        a
            background-color: rgba(0, 128, 255, .75)
            
    .github-tile
        background: url("../img/vin1000front.png") center no-repeat
        background-size: 70%
        
        a
            background-color: rgba(0, 255, 128, .75)
            
    .game1-tile
        background: url("../img/vin1000.jpg") center no-repeat
        background-size: cover
        
        a
            background-color: rgba(255, 0, 255, .75)
            
.about-content
    margin: 0 10%
    h2
        font-family: 'BebasNeue'
        font-size: 38px
        font-weight: bold
    p, li, a
            color: rgba(0, 0, 0, .5)
            font-family: 'Open Sans'
            font-weight: 400
            font-size: 14px
            line-height: 2
            margin-bottom: 25px
            letter-spacing: .6
            word-wrap: break-word
            width: 30vw
            
    a
        font-weight: 500
        font-size: 18px
        
    
    .about-title
        margin: 50px 0
        
    .about-skills
        h2
            margin-bottom: 50px
            margin-top: 50px
        li
            list-style: disc
            margin-left: 20px
            margin-bottom: 5px
            
footer
    text-align: center
    position: fixed
    bottom: 0
    left: 0 
    right: 0
    width: 100%
    p
        color: black
        margin-bottom: 30px
        
.contact-content
    margin: 0 10%
    h2
        font-family: 'BebasNeue'
        font-size: 38px
        font-weight: bold
    p, li, a
            color: rgba(0, 0, 0, .9)
            font-family: 'Open Sans'
            font-weight: 400
            font-size: 14px
            line-height: 2
            margin-bottom: 25px
            letter-spacing: .6
            word-wrap: break-word
            width: 30vw
            
    a
        font-weight: 500
        font-size: 18px
    .contact-title
        margin: 50px 0
        
    .contact-body
        p
            line-height: 1
            font-size: 18px
            
        p:first-of-type
            font-weight: 600
            color: #000
        a
            line-height: 4
