/* Color Variables */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.1s;
}

/* Box Sizing */
html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2d3748;
  border-top: 5px solid #48bb78;
  background-color: #edf2f7;
  font-weight: 500;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

.container {
  width: 100%;
}

.nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__item {
  color: #2d3748;
  font-size: 1.4rem;
}
.nav__item:hover {
  color: #48bb78;
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.header__name {
  line-height: 3rem;
}
.header__logo img {
  width: 10rem;
}

.skills {
  margin-bottom: 2rem;
  height: 15rem;
}
.skills__header {
  text-align: center;
  margin-bottom: 2rem;
}
.skills__body {
  display: flex;
  justify-content: space-evenly;
}
.skills__list {
  list-style: none;
}
.skills__list__item {
  font-size: 1.4rem;
}

.projects {
  width: 100%;
}
.projects__header {
  text-align: center;
  margin-bottom: 2rem;
}
.projects__grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1.5rem;
}
.projects__card {
  background-color: #f7fafc;
  border-radius: 1rem;
  width: 33rem;
  height: 33rem;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.projects__card__top {
  height: 15rem;
}
.projects__card__img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center;
}
.projects__card__img--jcard-maker {
  background-image: url("../jcardmaker.png");
}
.projects__card__img--reddit-clone {
  background-image: url("../redditclone.png");
}
.projects__card__img--pomodoro-timer {
  background-image: url("../pomodorotimer.png");
}
.projects__card__img--stock-viewer {
  background-image: url("../stockapp.png");
}
.projects__card__img--url-shortener {
  background-image: url("../urlshortener.png");
}
.projects__card__img--photo-viewer {
  background-image: url("../photoapp.png");
}
.projects__card__body p {
  height: 5.5rem;
  display: flex;
  padding: 1rem;
  text-align: left;
  font-size: 1.2rem;
}
.projects__card__body h4 {
  height: 3.5rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  justify-content: center;
}
.projects__card__body__btns {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects__card__body__btn {
  background-color: #48bb78;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  text-decoration: none;
}
.projects__card__badges {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-evenly;
}
.projects__card__badge {
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.projects__card__badge--html {
  background-color: #ed8936;
}
.projects__card__badge--css {
  background-color: #4299e1;
}
.projects__card__badge--javascript {
  background-color: #f6e05e;
}
.projects__card__badge--react {
  background-color: #90cdf4;
}
.projects__card__badge--vue {
  background-color: #319795;
}
.projects__card__badge--node {
  background-color: #38a169;
}
.projects__card__badge--express {
  background-color: #a0aec0;
}
.projects__card__badge--mongo {
  background-color: #68d391;
}

.contact__form {
  text-align: center;
  margin: auto;
  display: flex;
  width: 33rem;
  align-items: center;
  flex-direction: column;
  background-color: #f7fafc;
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-top: 0.5rem solid #48bb78;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.contact__form h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.contact__form textarea {
  resize: none;
  font-size: 1.6rem;
  border: 1px solid #5f646d;
  line-height: 1.5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 0.6rem;
  border-radius: 0.5rem;
}
.contact__form input {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #5f646d;
  padding: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.contact__form__label {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.contact__form__btn {
  background-color: #48bb78;
  border: none;
  padding: 1.5rem 3.5rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  text-decoration: none;
}

.footer {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

@media (min-width: 625px) {
  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1350px) {
  html {
    font-size: 12px;
  }

  .nav,
.header,
.skills,
.projects,
.contact {
    width: 1300px;
    margin: auto;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact__form {
    width: 50rem;
  }
  .contact__form input,
.contact__form textarea {
    width: 45rem;
  }
}
@media (hover: hover) {
  .projects__card__body__btn:hover,
.contact__form__btn:hover {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=main.css.map */
