@font-face {
  font-family: fontAwesome;
  src: url("../css/FontAwesome.otf"); }
@font-face {
  font-family: BebasNeue;
  src: url("../css/BebasNeue Regular.otf"); }
@font-face {
  font-family: OpenSans; }
body {
  background-color: #E8F5E9;
  font-family: "Raleway", arial, serif;
  font-weight: 300;
  width: 100%; }
  body p {
    color: #F5F5F5;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 14px; }
  body h1 {
    font-size: 56px;
    letter-spacing: 6px;
    font-weight: 500; }
  body h2 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500; }
  body a {
    color: #F5F5F5;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-decoration: none; }

#navbar {
  min-height: 75px;
  padding: 1.5vw auto;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  flex-direction: row; }
  #navbar a {
    color: #E8F5E9;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none; }
  #navbar a:hover {
    border-bottom: 1px solid #E8F5E9;
    padding-bottom: 5px;
    margin-bottom: -6px; }
  #navbar #logo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-left: 15px; }
    #navbar #logo p {
      font-size: 32px;
      color: #388E3C;
      font-weight: 600;
      letter-spacing: 1px; }
      #navbar #logo p span {
        font-weight: 200; }
  #navbar #navigation {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #navbar #navigation .mobile-nav-toggle {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      display: flex;
      font-family: fontAwesome;
      align-items: center; }
      #navbar #navigation .mobile-nav-toggle p {
        font-size: 32px;
        color: black;
        cursor: pointer; }
    #navbar #navigation .full-nav {
      display: none !important; }

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  justify-content: space-around;
  width: 100vw;
  height: calc( 100vh - 75px);
  display: none; }
  .mobile-nav ul {
    width: 100%;
    list-style-type: none;
    height: calc( 100vh - 75px); }
    .mobile-nav ul li {
      height: 28vh; }
    .mobile-nav ul li a {
      display: block;
      color: black;
      line-height: 28vh;
      text-align: center; }

.work-content {
  width: 100% !important; }
  .work-content .work-tile {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .work-content .work-tile a {
      height: 100%;
      line-height: 300px;
      text-align: center;
      width: 100%;
      font-family: "BebasNeue";
      font-weight: 400;
      font-size: 40px;
      transition: opacity 0.3s ease;
      opacity: 1; }
    .work-content .work-tile a:hover {
      opacity: 1; }
  .work-content .vin1000-tile {
    background: url("../img/vin1000.jpg") center no-repeat;
    background-size: cover; }
    .work-content .vin1000-tile a {
      background-color: rgba(0, 128, 255, 0.75); }
  .work-content .github-tile {
    background: url("../img/vin1000front.png") center no-repeat;
    background-size: 70%; }
    .work-content .github-tile a {
      background-color: rgba(0, 255, 128, 0.75); }
  .work-content .game1-tile {
    background: url("../img/vin1000.jpg") center no-repeat;
    background-size: cover; }
    .work-content .game1-tile a {
      background-color: rgba(255, 0, 255, 0.75); }

.about-content {
  margin: 0 10%; }
  .about-content h2 {
    font-family: "BebasNeue";
    font-size: 38px;
    font-weight: bold; }
  .about-content p, .about-content li, .about-content a {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 25px;
    letter-spacing: 0.6;
    word-wrap: break-word;
    width: 30vw; }
  .about-content a {
    font-weight: 500;
    font-size: 18px; }
  .about-content .about-title {
    margin: 50px 0; }
  .about-content .about-skills h2 {
    margin-bottom: 50px;
    margin-top: 50px; }
  .about-content .about-skills li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px; }

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; }
  footer p {
    color: black;
    margin-bottom: 30px; }

.contact-content {
  margin: 0 10%; }
  .contact-content h2 {
    font-family: "BebasNeue";
    font-size: 38px;
    font-weight: bold; }
  .contact-content p, .contact-content li, .contact-content a {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 25px;
    letter-spacing: 0.6;
    word-wrap: break-word;
    width: 30vw; }
  .contact-content a {
    font-weight: 500;
    font-size: 18px; }
  .contact-content .contact-title {
    margin: 50px 0; }
  .contact-content .contact-body p {
    line-height: 1;
    font-size: 18px; }
  .contact-content .contact-body p:first-of-type {
    font-weight: 600;
    color: #000; }
  .contact-content .contact-body a {
    line-height: 4; }

/*# sourceMappingURL=main.css.map */
