// Colors

//Main
$green:#409B50
$bluegrey:#263238
//text
$grey:#717372
//accents
$darkgreen:#5D8464
$lightgreen:#01B821
$black:#212121
$white:#F5F5F5
    
    
    



body
    //max-width:100% !important
    //overflow-x:scroll
    //background-color:$grey
    color:$white
    background-color:$bluegrey
    //text-transform:uppercase
    font-family: 'Candal', arial, serif
    font-weight:700
    
    a
        color:$black
        text-decoration:none
    
*
    
    max-width:100% !important
    max-height:100% !important

.page-wrap
    width:100vw
    //height:100vh
    //max-height:100%

.header
    min-height:25px
    display:flex
    color:$bluegrey
    align-items:center
    justify-content:center
    text-align:center
    width:100%
    background-color:$white
    
.nav-area
    background-color:$bluegrey
    min-height:90vh
    width:1000px
    margin:auto
    display:flex
    flex-flow: row wrap
    justify-content:center
    //align-content:space-around
    padding-top:25px
    
.about-card
    background-color:$green
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75)
    width:1000px
    //margin:auto
    height:300px
    color:$white
    display:flex
    align-items:center
    justify-content:center
    flex-wrap:wrap
    flex-direction:column
    border-radius:10px
    margin-bottom:25px
    a
        //border:1px solid black
        padding:10px
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75)
        background-color:$green
    
.webdev-card
    width:475px
    height:600px
    margin-right:25px
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75)
    border-radius:10px
    background-color:$lightgreen
    flex-flow: column wrap
    display:flex
    align-items:center
    justify-content:center
    a
        //border:1px solid black
        padding:10px
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75)
        background-color:$green
    
.programming-card
    width:475px
    margin-left:25px
    height:600px
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75)
    border-radius:10px
    background-color:$grey
    flex-flow: column wrap
    display:flex
    align-items:center
    justify-content:center
    a
        //border:1px solid black
        padding:10px
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75)
        background-color:$green
    
.contact-card
    background-color:$green
    width:1000px
    //margin:auto
    height:300px
    color:$white
    box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75)
    display:flex
    align-items:center
    justify-content:center
    flex-wrap:wrap
    flex-direction:column
    border-radius:10px
    margin-top:25px
    a
        //border:1px solid black
        padding:10px
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75)
        background-color:$green
    
.footer
    min-height:25px
    display:flex
    color:$bluegrey
    align-items:center
    justify-content:center
    text-align:center
    width:100%
    background-color:$white
    margin-top:25px
            


    

    