.project__card {
  height: 400px;
  width: 350px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.project__card__top {
  height: 200px;
  width: 100%;
}

.project__card--img {
  background-color: var(--darkGray);
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid var(--green);
}

.project__card--desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__card--desc--btns--wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__card--desc h3 {
  font-size: 1.2rem;
  margin: 0.4rem;
}

.project__card--desc p {
  text-align: left;
  padding-left: 25px;
  color: var(--darkGray);
  line-height: 1.5;
  height: 40px;
}

.project__card__btn {
  background-color: var(--green);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 12px;
  transition: opacity 100ms ease-in-out;
  color: var(--darkerGreen);
  text-decoration: none;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 0 15px;
  font-weight: 500;
}

.project__card__btn:hover {
  opacity: 0.9;
}

.project-badges {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 15px;
  height: 40px;
  align-items: center;
}

.badge {
  padding: 6px;
  text-shadow: 0px 1px 2px #000;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.86);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.badge-html {
  background-color: hsla(5, 81%, 56%, 0.9);
}

.badge-css {
  background-color: hsla(217, 89%, 61%, 0.9);
}

.badge-js {
  background-color: hsla(45, 97%, 50%, 0.9);
}

.badge-vue {
  background-color: hsla(136, 53%, 43%, 0.9);
}

.badge-react {
  background-color: hsla(221, 44%, 41%, 0.9);
}

#jcard-maker {
  background-image: url("../jcardmaker.png");
}

#reddit-clone {
  background-image: url("../redditclone.png");
}

#pomodoro-timer {
  background-image: url("../pomodorotimer.png");
}

#stock-app {
  background-image: url("../stockapp.png");
  background-position: top;
}

#url-app {
  background-image: url("../urlshortener.png");
  background-position: bottom;
}

#photo-app {
  background-image: url("../photoapp.png");
}
