body
    font-family: 'Roboto', sans-serif
    margin:0
    font-size: 20px
    letter-spacing: 2px
    background-color:#212121
    

.sideheader
    width:125px
    height:100vh
    background-color:#424242
    display:table
    position:absolute
    top:0
    bottom:0
    left:0
    
.logoalign
    display:table-cell
    position:relative
    vertical-align:middle
    text-align:center
    
    .logo
        width:100px


.navheader
    width:100px
    height:100vh
    background-color:#212121
    display:table
    positon:absolute
    bottom:0
    margin-left:125px
    top:0
    left:0

    
    .nav
        display:table-cell
        vertical-align:middle
        ul
            margin-left:25px
            
            li
                margin-bottom:20px
                list-style:none
                &:last-child
                    margin-bottom:0px
                
                    
            
            a
                text-decoration:none
                color:white
                font-size:30px
                font-weight:700
                transition: all 0.2s ease-in-out
                &:hover
                    margin-left:10px
                    color:green
.topbar
    width:100vw
    height:10vh
    background-color:#424242
    text-align:center
    display:table
    
    .logo
        width:8vh
        
.content
    text-align:center
    h1
        font-size: 48px
        margin-top:10vh
        color:green
.mypic
    border-radius:100%
    margin-top:50px
    
#contactsec
    margin:5px
    min-height:25vh
    max-height:100vh
    text-align:center
    h1
        margin-bottom:25px
        color:white
        margin-top:25px
        font-size:48px
    form
        max-width:450px
        margin: 0 auto 50px
        
        label
            display:block
          
        input
            border: 3px solid green
            width:100%
            height:30px
            background-color:#424242
           
            &:focus
                border-color:lightgreen
                outline:none
                background-color:#424242
            
    .submit-wrap
        input
            color:#424242
            font-size:22px
            margin-top:25px
            background-color:green
            height:50px
            width:50%
            input:hover
            color:green
            background-color:#424242
        
    .contact-info-group
            label
                color:grey
                padding:10px
            textarea
                height:100px
                font-size:14px
                border: 3px solid green
                width:99%
                background-color:#424242
                &:focus
                    border-color:lightgreen
                    outline:none
                    background-color:#212121
            
.socialicons
    text-align:center
    background-color:#424242
    img
        max-width:25%
        opacity:.5
    :hover
            opacity:1

.topnav
    display:flex
    flex-direction:row
    justify-content:center
    
    a
        text-decoration:none
        color:white
        margin:15px
        align-self:center
        align-content:space-between
        
    img
        align-self:center
        margin:10px
        
        

    