$bgColor : #EEEEEE;
$textColor: #212121;

html
	font-size: 62.5%
	background-color: $bgColor


body
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px
	margin-left: 10rem
	margin-top: 4rem
	margin-right: 10rem
	font-size: 1.4rem
	font-size: 3.2rem
	font-weight: 700
	line-height: 1.5
	color: $textColor

hr 
	color: $textColor
	border-width: 3px
	border-style: solid

a
	color: $textColor
	transition: color .2s ease-out
	//text-decoration: none
a:hover
	color: #2E7D32

@media (max-width: 450px)
    body
        font-size: 2rem
        margin-left: 12px
        margin-top: 24px

    hr
        border-width: 1px

@media (max-width: 350px)
    body 
        font-size: 1.8rem
        margin-right: 1rem
