$whitegrey:#E0E0E0
$white:#F5F5F5
$black:#212121
$grey:#9E9E9E
$darkgrey:#424242
$green:#2E7D32



body
    font-family: 'Roboto Slab', serif
    margin:0
    font-size: 1em
    letter-spacing: 2px
    background-color: $whitegrey
    color:$darkgrey
    
.pagewrap
    background-color:$white
    min-height:100vh
    width:1400px
    margin:auto
    box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.75)
    transition: all 0.15s ease-in-out
    
    @media screen and (max-width: 1080px)
        width:100vw
        
    
//Begin Navigation
    
.nav
    height: 50px
    border-bottom:2px solid $darkgrey
    background-color:$white
    display:flex
    //width:1000px
    box-shadow: 0px -10px 38px -15px rgba(0,0,0,0.75)
    
.logo
    display:flex
    align-items:center
    justify-content:center
    height:50px
    width:25%
    h1
        font-size:2rem
        color:$green
    @media screen and (max-width: 1080px)
        width:50%
        justify-content:flex-start
        margin-left:2.5%
    
.navlinks
    //width:1000px
    height:50px
    display:flex
    width:30%
    align-items:center
    margin-left:45%
    justify-content:space-around
    
    a
        color:$darkgrey
        text-decoration:none
        font-size:1.2rem
        transition: all 0.15s ease-in-out
        &:hover
            color:$grey 
    
    @media screen and (max-width: 1080px)
        width:50%
        margin-left:0
        margin-right:2.5%
    
//Begin Hero Image
    
.heroimg
    height:400px
    background-color:$grey
    background-image:url("../images/bg3.jpg")
    background-size:cover
    background-position:bottom
    background-repeat:no-repeat
    background-attachment:fixed
    display:flex
    justify-content:center
    align-items:center
    
    .about
        text-align:center
        color:$white
        line-height:2em

        h2
            font-size:2em
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .3)

        h3
            font-size:1.4em
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .3)

        img
            width:125px
            box-shadow: 0px 1px 38px 0px rgba(0,0,0,0.75)
            height:125px
            border-radius:50%
            border: 5px solid $white
            margin-bottom:25px
        
//Begin Content Sections
    
.sections
    box-shadow: 0px -15px 38px -15px rgba(0,0,0,0.75)
    border-top:2px solid $darkgrey
    color: $darkgrey
    h1
        font-size:2.5em
        padding-top:50px
        padding-bottom:50px
        color:$green
        
    #work
        text-align:center
        min-height:50vh
        img
            margin: 0 25px
            max-height:200px
            transition: all 0.15s ease-in-out
            &:hover
                box-shadow: 0px 0px 38px -15px rgba(0,0,0,0.75)
            
            @media screen and (max-width: 1080px)
                margin:25px 0

    #contact
        text-align:center
        min-height:50vh
        a
            color:$black
            display:block
            width:fit-content
            margin:auto
            transition: all 0.15s ease-in-out
            line-height:2em
            font-size:1.2em
            &:hover
                color:$grey
