body {
	font-family: 'Lato', sans-serif;
    margin: 0px;
}


#nav {
    width: 100%;
    margin: auto;
    text-align: center;
}

#nav a {
    color:grey;   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    border: 1px solid grey;
    padding: 15px 10px
}

#nav a:hover {
    color: green;
    border-color: green;
    background-color: lightgray;
}

#name {
    text-align: center;
    margin:auto;
    width: 100%;
    display: inline-block;
}

#name p {
    color:green;   
}

#name i {
    color: grey;   
}

#navnamecontainer {
    max-width:1000px;
    margin: auto;
    text-align: center
}

.titlecontainer {
    width: 100%;
    text-align: center;
    margin: auto;
}

.title {
    color: grey;
}

.aboutcontainer {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

#aboutheader {
    border-bottom: 1px solid grey;
    color:green;
    width: 100%;
}

.aboutpic {
  visibility: hidden;
    width:0
}

.aboutpic img {
}

.about {
    width:100%;
}

.about p {
    width: 100%;  
}

.workexample {
    width:300px;
    height:200px;
    float: left;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

.work {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    display: flex;
    height:300px;
}

#collegebrainex {
    transition-property: background-color, background-image, color;
    transition-duration: .2s;
    transition-timing-function: linear;
    width: 300px;
    height:200px;
    color: transparent;
}

#collegebrainex img {
    position: static;
    width: 300px;
    
}

#collegebrainex p {
    position: fixed;
    text-align: center;
    width: 300px;
    margin: auto;
    font-size: 18px;
    margin-top: 10px
    
}

#collegebrainex:hover {
    color: black;
    cursor: pointer;
    }



#contactinfo {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 15px
    
}

#contactinfo a {
    color:grey;   
    margin-right: 20px;
    text-decoration: none;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    border: 1px solid grey;
    padding: 5px 10px;
    max-width: 80px;
}

#contactinfo a:hover{
    color: green;
    border-color: green;
    background-color: lightgray;
}

#contactlinks {
    margin-top: 25px;
}

@media screen and (min-width: 1000px) {
    
    #nav {
        width: 500px;
        display:flex;
        float:left;
    }
    
    #aboutheader {
        max-width: 1000px;
        margin: auto;
    }
    
    #nav a {
        margin-top:10px;
        padding: 5px 10px;
    }
    
    .aboutpic {
        visibility: visible;
        float: right;
        margin-right: 340px;
        margin-left: 50px;
    }
    
    #name {
        float: right;
        text-align: right;
        width: 500px;  
    }
    
    .titlecontainer {
        max-width: 1000px;
        text-align: left
    }
    
    .title {
        margin-top: 50px;   
    }
}


