body {
	font-family: 'Lato', sans-serif;
    margin: 0px;
}


#nav {
    width: 500px;
    margin: auto;
}

#nav a {
    color:grey;   
    margin:30px;
    text-decoration: none;
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    border: 1px solid grey;
    padding: 5px 10px
}

#nav a:hover {
    color: green;
    border-color: green;
    background-color: lightgray;
}

#name {
    float: right;
    text-align: right;
    margin:auto;
    width: 500px;
    
}

#name p {
    color:green;   
}

#name i {
    color: grey;   
}

#navnamecontainer {
    width:1000px;
    margin: auto;
    display: flex;
}

.titlecontainer {
    max-width: 1000px;
    margin: auto;
}

.title {
    color: grey;
    margin-top: 50px;
}

.aboutcontainer {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

#aboutheader {
    border-bottom: 1px solid grey;
    color:green
}

.aboutpic {
    float: right;
    margin-left: 50px
}

.about {
    max-width: 70%;
}

.about p {
    max-width: 700px;   
}
