body {
    margin: 0px;   
    font-family: 'Open Sans', sans-serif;
    color: black;
    letter-spacing: .04em;
    font-weight: 400;
}
    
h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
    font-size: 32px;
}

h2 {
    color: white;   
    font-size: 24px;
    margin-top: 10px
}

header {
    height: 100vh;
    background-image: url('../images/bg.jpg');
    overflow: hidden;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}


section {
    height: 100vh;
}

section h1 {
    height: 10vh;
    color: green;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    line-height: 10vh;
    font-size: 30px;
}

nav {
    height:8vh;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    height: 8vh;
    line-height: 8vh;
    position: relative;
    margin:5px;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
    
}

nav a:hover {
    text-decoration: none;
}

#aboutme {
    height: 100vh;
    text-align: center;
}

#work {
    min-height: 100vh;
    position: relative;
    display: inline;
}

#logo {
    color: white;
    position: absolute;
    left: 1%;
    height: 8vh;
}

footer {
    text-align: center;
    height: 8vh;
    background-color: #1B5E20;
    font-size: 14px;
    line-height: 8vh;
}

footer p {
    color: white;
}

.map {
    width: 100%;
    height:45vh
}

#contactme {
    
    height: 45vh;
}

#contactme h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#abouttext {
    margin-left: 5px;
    font-size: 20px;
}

#workgrid img {
}

#workgrid {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#nametitle h2 {
    text-align: center;
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
}

#nametitle h1 {
    text-shadow: 2px 2px 2px black;
    margin-bottom: 5px;   
}

#nametitle img{
        position: relative;
        left: 50%;
        background-color: white;
        border: 4px solid white;
        transform: translate(-50%);
        border-radius: 100%;
        margin-bottom: 15px
}

#nametitle {
    margin-top: 50px;
}


@media screen and (min-width: 1000px) {
    
    nav {
        text-align: right   
    }
    
    nav a {
        margin:40px;
        padding: 2vh 20px;   
        font-size: 22px;
        height: 8vh;
        font-weight: 500;
        line-height: 8vh;
        transition-property: color, border;
        transition-duration: .3s;
        transition-timing-function: linear;
    }
    
    header {
        height: 60vh;
        margin-bottom: -34px;
    }
    
    section h1{
        font-size: 40px; 
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    #aboutme {
        height: 30vh;
    }
    
    nav a:hover {
        color: darkgray;
    }
    
    #workgrid img {
        margin: 50px;
        transition-property:transform;
        transition-duration: .2s;
        transition-timing-function: linear;
    }
    
    #workgrid img:hover {
        transform: scale(1.05, 1.05);
    {
    
    #contactme h2 {
        font-size: 20px;
        margin-left: 50px;
        text-align: left;
    }
    
    footer {
        font-size: 18px;
    }
}



#aboutme h2 {
    color: dimgrey; 
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

b {
    margin: 5px;
    border: 2px solid #467813;
    border-radius: 5px;
    
    background: radial-gradient(#2E7D32, #1B5E20);
    color: white;
    padding: 5px;
}
