doctype html
html
    head
        title Justin Miller | Web Developer
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(href='http://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')
        
    body
        
        .pagewrap
        
            .nav
                .logo
                    h1 Justin Miller
                .navlinks
                    a(href="#work") Work
                    a(href="blog.html") Blog
                    a(href="#contact") Contact
            
            .heroimg
            
                .about
                    img(src="./images/me.png" alt="Me")
                    h2 Justin Miller
                    h3 Web Developer 
            
            .sections

                #work
                    h1 MY WORK
                    
                    img(src="http://placehold.it/200x200" alt="Portfolio Site")
                    a(href="VIN1000.com") 
                        img(src='http://placehold.it/200x200' alt="VIN1000.com")
                    img(src="http://placehold.it/200x200" alt="Games")

                #contact
                    h1 CONTACT ME
                    
                    a(href="https://github.com/justinmarcusmiller") Github
                    a(href="mailto:justinmiller171@gmail.com") E-mail
                    a(href="LinkedIn.com") LinkedIn
                    a(href="resume.pdf") View my Resume
