doctype html
html
    head
        title Website
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Justin Miller is a web developer living in Northern California")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500', rel='stylesheet', type='text/css')
        
    body
        
        #navbar

            #logo
                p JustinMiller

            #navigation
            
                .mobile-nav-toggle
                    p 
                
                .full-nav
                
                    a(href="index.html") MY WORK

                    a(href="about.html") ABOUT ME

                    a(href="contact.html") CONTACT
                    
        .mobile-nav
            ul
            
                li
                    a(href="index.html") MY WORK
            
                li
                    a(href="about.html") ABOUT ME

                li
                    a(href="contact.html") CONTACT
                    
        .about-content
            .about-title
                h2 ABOUT ME
                
                
                
            .about-body
                p I was born in Chico, CA and moved to Paradise, CA when I was young. I am currently studying Web Design at Butte Community College.
                
                p I started studying web design a few years ago, my father was a web designer and I hope to follow in his footsteps. I enjoy making websites that look clean with just the right amount of subtle animation.
                
                p In my spare time I enjoy learning Linux, making game in GameMaker Studio, and playing retro video games.
                
                p If you are interested in my resume, you can find it below:
                
                a(href="resume.pdf") Resume
                
            .about-skills
                h2 SKILLS
                
                ul
                
                    li Windows
                        
                    li Linux
                    
                    li Windows Server 2012
                    
                    li HTML5 & CSS3
                    
                    li Javascript
                        
        footer
            p © Copyright 2017 Justin Miller                
                
        
