doctype html
html
    head
        title Justin Miller
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/responsive.css")
        link(href='http://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet', type='text/css')
        
    body
        .topbar
            .topnav
                img.logo(src="images/logo.png")
                a(href="work.html") Work
                a(href="about.html") About
                a(href="contact.html") Contact
                a(href="resume.pdf") Résumé
                
        #contactsec
            h1 Contact Me
            form(action="//formspree.io/justinmiller171@gmail.com",method="POST")
                
                .contact-info-group
                    label
                        p Your Name
                    input(type="text" name="name")

                    label
                        p Your E-mail
                    input(type="email" name="_replyto")
                    

                    label
                        p Your Message
                    textarea(name="message")
                    
                .submit-wrap

                    input(type="submit" value="Send")

        
        .socialicons
            img(src="images/github.png")
            img(src="images/linkedin.png")
            img(src="images/googleplus-square.png")