doctype html
html
    head
        title Website
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Justin Miller is a web developer living in Northern California")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500', rel='stylesheet', type='text/css')
        
    body
        
        #navbar

            #logo
                p JustinMiller

            #navigation
            
                .mobile-nav-toggle
                    p 
                
                .full-nav
                
                    a(href="index.html") MY WORK

                    a(href="about.html") ABOUT ME

                    a(href="contact.html") CONTACT
                    
        .mobile-nav
            ul
            
                li
                    a(href="index.html") MY WORK
            
                li
                    a(href="about.html") ABOUT ME

                li
                    a(href="contact.html") CONTACT
                    
        .contact-content
            .contact-title
                h2 Contact Me
                
            .contact-body
                p Justin Miller
                p Paradise, California
                p 95969
                p (530) 519-8208 
                a(href="mailto:justinmiller171@gmail.com") justinmiller171@gmail.com
                
        footer
            p © Copyright 2017 Justin Miller