doctype html
html
    head
        title Website
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Justin Miller is a web developer living in Northern California")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
        
    body
    
        #mainsection
        
            #navbar
            
                #logo
                    p JM

                #navigation

                    a(href="#aboutsection") ABOUT ME

                    a(href="#worksection") MY WORK

                    a(href="#contactsection") CONTACT
                    
            #maintitle
                h1 JUSTIN MILLER
                h2 WEB DESIGN STUDENT
            
            #socialicons
                a(href="https://github.com/justinmarcusmiller") 
                a(href="mailto:justinmiller171@gmail.com") 
                a(href="www.linkedin.com/in/justinmarcusmiller") 
                
        #aboutsection
            
            #abouttitle
                h1 ABOUT ME
                h2 HI! I"M JUSTIN MILLER. 
                h2 PLEASED TO MEET YOU
                
            #aboutcontent
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id quam sit amet sapien lobortis blandit. Curabitur semper ullamcorper libero at consequat. Morbi euismod, neque id tempor placerat, ex orci aliquet ante, eu auctor mauris arcu non diam. Integer vel tortor varius, porttitor purus porta, lobortis libero. Pellentesque at justo urna. Nam varius eu erat sed dapibus. 

                p Vestibulum lorem sem, consequat eu nisi et, porttitor venenatis urna. Sed sagittis mauris tellus, quis imperdiet nisl mattis ut. In facilisis accumsan mauris non euismod. Suspendisse ac magna sed justo sagittis tempus. Cras elementum nisl non maximus feugiat. Vestibulum convallis molestie ligula ac fringilla. Maecenas et lacinia nibh, at posuere erat. 
                
        #resumesection
            a(href="resume.docx") VIEW RESUME
            
            
        #worksection
        
            #vin1000section
                .worktext
                    h3 VIN1000.COM
                    p Website built for the 1000th Tesla Roadster built.
                
                    a(href="http://vin1000.com/") VIEW WEBSITE
                    
                .workthumb
                    img(src="./img/placeit.png")
        
        #contactsection
        
            #contacttitle
                h2 GET IN TOUCH
                p EMAIL
                a(href="mailto:justinmiller171@gmail.com") justinmiller171@gmail.com
        
            form(action="//formspree.io/justinmiller171@gmail.com",method="POST")
                
                .contact-info-group
                    label
                        p YOUR NAME
                    input(type="text" name="name")

                    label
                        p YOUR EMAIL ADDRESS
                    input(type="email" name="_replyto")
                    
                    label
                        p YOUR MESSAGE
                    textarea(name="message")
                    
                .submit-wrap
                    input(type="submit" value="Send")
        
        #footersection
        
            #footersocialicons
                a(href="https://github.com/justinmarcusmiller") 
                a(href="mailto:justinmiller171@gmail.com") 
                a(href="www.linkedin.com/in/justinmarcusmiller") 
                
            #footertext
                p © Copyright 2017 Justin Miller
                p Web Design Student
                p justinmiller171@gmail.com
                
            #footerbutton
                a(href="#mainsection") TOP