doctype html
html
    head
        title Justin Miller
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Justin Miller is a web developer living in Northern California")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-3.4.1.min.js")
        script(src="js/function.js")
        
    body
        h1 Justin Miller
        p Computer programming student
        hr
        a(href="https://github.com/justinmarcusmiller") GitHub
        br
        a(href="mailto:justinmiller171@gmail.com") justinmiller171@gmail.com
        hr
        a(href="../programs.html") Programs
        br
        a(href="../games.html") Games
        br
        a(href="../schoolwork") Schoolwork


