doctype html
html
    head
        title Justin Miller
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Justin Miller is a web developer living in Northern California")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Franklin:900,600&display=swap")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-3.4.1.min.js")
        script(src="js/function.js")
        
    body
        #splash
            #pattern

            #name
                #first-name 
                    h1 JUSTIN
                #last-name 
                    h1 MILLER
            #splashbutton.button
                a(href='#about') Get to know me

        #about
            .container
                h3 A LITTLE BIT
                h2 ABOUT ME

                p Hello! My name is Justin

            #socialIcons

        #experience

        #education
            .container
                h3 THE THINGS I'VE LEARNT
                h2 EDUCATION

        #skills
            .container
                h3 WHAT I HAVE TO OFFER
                h2 SKILLS

        #contact
            .container
                h3 GET IN TOUCH.
                h2 CONTACT ME