doctype html
html
    head
        title Justin Miller
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/responsive.css")
        
    body
        header
            nav
                a(href="#about") About Me
                a(href="#work") My Work
                a(href="#contact") Contact Me
            img(src="images/me.png")
            h1 Justin Miller
            h2 Web Design & Development
        
        section#about
            h1 About Me
            p My name is Justin Miller. I am a web developer currently attending Butte Community College for a degree in Multimedia Studies. I enjoy building websites that are minimalistic & mobile-friendly.
        
        section#work
            h1 My Work
                #workgrid
                    img(src="http://placehold.it/300x300")
                    img(src="http://placehold.it/300x300")
                    img(src="http://placehold.it/300x300")
        
        section#contact
            h1 Contact Me
            p (530)519-8208
            p Justinmiller171@gmail.com
        
        footer
            p Justin Miller 2015