doctype html
html
    head
        title Justin Miller
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/responsive.css")
        link(href='http://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet', type='text/css')
        
    body
        .sideheader
            .logoalign
                    a(href="index.html"): img.logo(src="/images/logo.png") 
            
        .navheader
            .nav
                ul
                    li: a(href="work.html") Work
                    li: a(href="about.html") About
                    li: a(href="contact.html") Contact
                    li: a(href="resume.pdf") Résumé