body
{
   display: flex;
   justify-content: center;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   overflow-x: hidden;
   background-color: #222222;
   color: #fff;
}

.cpp
{
   background-color: #3131d4;
}

.lang-btn
{
   grid-area: btn;
   grid-column-end: none;
}

.lang-btn h4
{
   margin: 0 5px;
   display: inline-block;
   border-radius: 5px;
   padding: 0 5px;
   margin-left: 8px;
   font-size: 14px;
   line-height: 1.5;
   color: #fff !important
}

.project-grid-item
{
   display: grid;
   grid-template-areas: 
      "project-img project-img"
      "project-title btn"
      "project-desc project-desc";
}

h1, h2, h3, p, a
{
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
   -webkit-text-stroke: .025em rgba(51,51,51,0.50);
   font-kerning: none;
   letter-spacing: .5px;
}

a
{
   text-decoration: none;
}

#body-wrapper
{
   width: 1000px;
}

#top-nav
{
   display: flex;
   justify-content: flex-end;  
}

.flex-left-h
{
   display: flex;
   justify-content: flex-start;
}

.flex-right-h
{
   display: flex;
   justify-content: flex-end;
}

#top-nav a
{
   margin: 0 15px;
   text-decoration: none;
   color: #fff;
   font-size: 14px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

#top-nav a:last-of-type
{
   margin-right: 0;
}

#top-nav a:hover
{
   text-decoration: underline !important;
   color: #0da200 !important;
}

#header-wrapper
{
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin: 25px 0;
}

#header-name
{
   flex-grow: 1;
}

h2
{
   font-size: 24px;
   line-height: .25;
}

h1
{
   font-size: 34px;
}

#header-logo
{
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

#header-logo img
{
   height: 60px;
   filter: invert(1);
}

#project-grid 
{
   display: grid;
   grid-template:
   "item1 item2 item3"
   "item4 item5 item6";
   grid-gap: 15px;
   justify-content: space-between;
   margin-bottom: 25px;
}

.project-image
{
   width: 300px;
   height: 210px;
   border: none;
   grid-area: project-img;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

footer
{
   width: 100%;
   align-items: center;
}

footer p
{
   font-size: 14px;
   text-transform: uppercase;
}

#project-header
{
   margin-top: 50px;
}

.project-grid-item h3, .project-grid-item p
{
   margin: 0;
   padding: 0;
   line-height: 1.5;
}

.project-grid-item h3
{
   grid-area: project-title;
}

.project-grid-item p
{
   grid-area: project-desc;
   margin-top: 5px;
}

h3 
{
   font-size: 16px;
}

p
{
   font-size: 12px;
}

.project-grid-item:hover
{
   
   color: #0da200 !important;
   cursor: pointer;
}

.project-grid-item .project-image
{
   border-radius: 15px;
   margin-bottom: 5px;
   background-color: darkgrey;
}

@media screen and (max-width: 1000px)
{

   #project-grid
   {
      grid-template:
      "item1 item2"
      "item3 item4"
      "item5 item6";
      justify-content: space-around;
   }

   #body-wrapper
   {
      width: 95%;
   }

   .flex-left-h
   {
      justify-content: center;
   }
     
}

@media screen and (max-width: 700px)
{
   #project-grid
   {
      grid-template:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6";

   }

   .project-image
   {
      margin: auto
   }

   .project-grid-item
   {
      width: 300px;
   }

   h1
   {
      font-size: 24px;
   }

   h2
   {
      font-size: 16px;
   }

   #project-header
   {
      text-align: center;
   }

   #header-logo img
   {
      height: 40px;
   }

   body
   {
      padding-top: 5px;
   }
   
}
