doctype html
html
    head
        title Project 4
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(rel="stylesheet" href='css/MicrogrammaDBolExtRegular.ttf' type="text/css")

        
        
    body

        header
        
            .top-bar
                .top-bar-wrapper
                    .title
                        img(src="images/butte-logo.png")
                        .title-text
                            h1 Butte College
                            h2 Start Here... Go Anywhere!
                        
                    .top-bar-links
                        a(href="http://www.butte.edu/mybc") MyBC
                        a(href="http://butte.edu/maps") Campus Map
                        a(href="http://butte.edu/sustainability") Sustainability
                        a(href="http://butte.edu/foundation") Make a Gift
                        
                
            .main-nav
                .main-nav-wrapper
                    a(href="http://butte.edu/highschool/") Getting Started
                    a(href="http://butte.edu/newandreturning/") New Students
                    a(href="currentstudents.html") Current Students
                    a(href="http://butte.edu/business/") Business
                    a(href="http://butte.edu/community/") Community
                    
            .site-map
                .site-map-header
                    h1 Site Map
                .site-map-content
                    a(href="http://www.butte.edu/academicsenate") Academic Senate
                    a(href="http://www.butte.edu/accreditation") Accreditation
                    a(href="http://www.butte.edu/admissions") Admissions and Records
                    a(href="http://www.butte.edu/assessment") Assessment
                    a(href="http://www.butte.edu/careerservices") Career Services
                    a(href="http://www.butte.edu/careers") Career & Technical Programs
                    a(href="http://www.butte.edu/catalog") Catalog
                    a(href="http://www.butte.edu/cas") Center for Academic Success (CAS)
                    a(href="http://www.butte.edu/classifiedsenate") Classified Senate
                    a(href="http://www.butte.edu/community/about/mission_values.html") College Mission
                    a(href="http://www.butte.edu/fpm/collegepolice") College Police
                    a(href="http://www.butte.edu/counseling") Counseling & Advising
                    a(href="http://www.butte.edu/curriculum") Curriculum
                    a(href="http://www.butte.edu/dsps") Disabled Students Programs & Services
                    a(href="http://www.butte.edu/distance") Distance Learning
                    a(href="http://www.butte.edu/eops") EOPS
                    a(href="http://www.butte.edu/fpm") Facilities Planning & Management
                    a(href="http://www.butte.edu/staff") Faculty and Staff Services
                    a(href="http://www.butte.edu/financialaid") Financial Aid
                    a(href="http://www.butte.edu/foundation") Foundation/Giving
                    a(href="http://www.butte.edu/hr") Human Resources
                    a(href="http://www.butte.edu/inspiringscholars") Inspiring Scholars
                    a(href="http://www.butte.edu/international") International Students
                    a(href="http://www.butte.edu/itss") IT Services & Support
                    a(href="http://www.butte.edu/jpce") Job Placement & Cooperative Education
                    a(href="http://www.butte.edu/library") Library
                    a(href="http://www.butte.edu/mybc") MyBC
                    a(href="http://www.butte.edu/president") Office of The President
                    a(href="http://www.butte.edu/orientation") Orientation
                    a(href="http://www.butte.edu/pba") Planning, Budgeting & Assessment
                    a(href="http://www.butte.edu/careers/publicsafety") Public Safety Education
                    a(href="http://www.butte.edu/prodev") Professional Development
                    a(href="http://www.butte.edu/rtc") Regional Testing Center
                    a(href="http://www.butte.edu/foundation/scholarships.html") Scholarships
                    a(href="http://www.butte.edu/sa") Sexual Harassment and Sexual Assault
                    a(href="http://www.butte.edu/shc") Student Health Clinic
                    a(href="http://www.butte.edu/slo") Student Learning Outcomes
                    a(href="http://www.butte.edu/studentlife") Student Life
                    a(href="http://www.butte.edu/studyabroad") Study Abroad
                    a(href="http://www.butte.edu/transfer") Transfer Counseling Center
                    a(href="http://www.butte.edu/veteransservices") Veterans Services