body {
	width:100%;
	max-width:1000px;
	margin:auto;
	background-color:#333333;
	}
	
.logo {
	width:20%;
}	

.nav {
	float:inherit;
	width:80%;
	text-align:right;
}

.heading {
    float:clear;
	font-family: 'Source Sans Pro', Comic Sans;
	font-size: 36px;
	color:white;
	text-align: center;
	padding-top: 10px;
	padding-left: auto;
	padding-right: auto;
	background-color:#458A42

}

.subheading {
	font-family: 'Source Sans Pro', Comic Sans;
	font-size: 36px;
	text-align: center;
	padding-left: auto;
	padding-right: auto;

}

.MetroPong {
	width:30%;
}
