body {
	max-width:1000px;
	border:thin black solid;
	margin:auto;
	}


.heading h1 {
	font-family: 'Source Sans Pro', Comic Sans;
	font-size: 72px;
	text-align: center;
	padding-left: auto;
	padding-right: auto;
	font-weight: bold;
	
}

.heading p {
	font-family: 'Source Sans Pro', Comic Sans;
	font-size: 36px;
	text-align: center;
	padding-left: auto;
	padding-right: auto;

}
