doctype html
html
    head
        title J-Card Maker
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Cassette J-Card Maker")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="css/main.css")
        //link(rel="stylesheet", href="css/responsive.css")
        script(src="js/jquery-3.4.1.min.js")
        script(src="js/function.js")
        
    body
        #header
            h1 J-Card Maker
            p Fill out the form below to create a j-card for your mixtape.
            hr
        #template
            #back
            #spine
                #subtitle-spine
                    p Vol. 1
                #title-spine
                    p 80's Mix
                #noteTop-spine
                    p Dolby B
                #noteBottom-spine
                    p Dolby HX-PRO
            #front
                #title-front
                    h2 80's Mix
                #subtitle-front
                    h2 Vol. 1
                
                br

                h3 side a

                #a-tracklist

                    p

                br

                h3 side b

                #b-tracklist

                    p

        #options
            h2 Options
            hr
            form
                p Title: 
                    input(type="text" id="title" value="")
                br
                p Subtitle: 
                    input(type="text" id="sub-title" value="")
                br
            #font
                p Font Size: 
                    input(type="text" id="font-size" value="")
            hr
            form
                p Note Top:  
                    input(type="text" id="note-top" value="")
                br
                p Note Bottom:  
                    input(type="text" id="note-bottom" value="")
            hr
            #track-list-options
                #side-a          
                    p Side A: 
                    textarea(id="a-list")
                #side-b
                    p Side B: 
                    textarea(id="b-list")


