.version.about_us /* version checker */
{
	color: #0000FB;
	background-color: #4F6667;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	background-image: none;
	margin-left: auto;
	width: 100%;
	border-color: #000000;
}

#u172_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u482
{
	margin-right: -10000px;
	z-index: 3;
	position: relative;
}

#u173
{
	z-index: 4;
	width: 100%;
}

#u172,#u172-bw
{
	z-index: 2;
}

#u515
{
	z-index: 10;
	right: 0px;
	position: fixed;
}

#u259-5
{
	z-index: 11;
	position: fixed;
}

#u260-5
{
	z-index: 16;
	position: fixed;
}

#u261-5
{
	z-index: 21;
	position: fixed;
}

#u262-5
{
	z-index: 26;
	right: 0px;
	position: fixed;
}

#u218
{
	background-color: #030303;
	z-index: 31;
}

#u219-4
{
	background-color: transparent;
	text-align: center;
	z-index: 32;
	font-size: 29px;
	min-height: 40px;
	color: #CCCCCC;
	line-height: 35px;
}

#u226
{
	z-index: 40;
	background-position: center top;
	background-color: transparent;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}

#u237-4
{
	background-color: transparent;
	text-align: center;
	z-index: 36;
	position: relative;
}

#u240-6
{
	background-color: transparent;
	z-index: 41;
	position: relative;
}

#u240-2,#u240-3
{
	text-align: left;
}

#u230
{
	z-index: 47;
	background-position: left top;
	background-color: transparent;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}

#u239-4
{
	background-color: transparent;
	text-align: center;
	z-index: 48;
	position: relative;
}

#u241-4
{
	background-color: transparent;
	z-index: 52;
	position: relative;
}

#u242-4
{
	background-color: transparent;
	text-align: center;
	z-index: 56;
	position: relative;
}

#u243
{
	background-color: transparent;
	z-index: 60;
	position: relative;
}

#u246
{
	background-color: transparent;
	z-index: 62;
	position: relative;
}

#pu178
{
	width: 100%;
}

#u178,#u178-bw
{
	z-index: 5;
}

#u179-4,#u179-4-bw
{
	z-index: 6;
}

.html
{
	background-color: #CCCCCC;
}

body
{
	position: relative;
}

@media (min-width: 901px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		max-width: 1000px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u218
	{
		width: 1000px;
		margin-top: 15px;
		position: relative;
	}

	#u219-4
	{
		width: 1000px;
		position: relative;
		margin-right: -10000px;
	}

	#pu226
	{
		margin-top: 25px;
		width: 100%;
	}

	#u226
	{
		width: 448px;
		height: 224px;
		background-image: url("../images/scottish-ontario-chambers-sparks-street-ottawa-1227769-1278x968.jpg");
		margin-right: -10000px;
		left: 42px;
	}

	#u230
	{
		width: 448px;
		height: 224px;
		background-image: url("../images/wave-shaped-office-building-1172520-1280x960.jpg");
		margin-right: -10000px;
		left: 510px;
	}

	#pu237-4
	{
		margin-top: 15px;
		width: 100%;
	}

	#u237-4
	{
		width: 448px;
		min-height: 22px;
		margin-right: -10000px;
		left: 42px;
	}

	#u239-4
	{
		width: 448px;
		min-height: 22px;
		margin-right: -10000px;
		left: 510px;
	}

	#pu240-6
	{
		margin-top: -1px;
		width: 100%;
	}

	#u240-6
	{
		width: 448px;
		min-height: 331px;
		margin-right: -10000px;
		left: 42px;
	}

	#pu241-4
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 510px;
	}

	#u241-4
	{
		width: 448px;
		min-height: 111px;
	}

	#u242-4
	{
		width: 448px;
		min-height: 22px;
	}

	#pu243
	{
		width: 0.01px;
		margin-left: 40px;
		margin-top: 15px;
	}

	#u243
	{
		width: 150px;
		margin-right: -10000px;
	}

	#u246
	{
		width: 150px;
		margin-right: -10000px;
		left: 200px;
	}

	#pu178
	{
		margin-top: 1px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 721px) and (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 900px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 63px;
	}

	#u515
	{
		width: 551px;
		padding-bottom: 36px;
		top: 27px;
	}

	#u259-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 414px;
	}

	#u260-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 276px;
	}

	#u261-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 139px;
	}

	#u262-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
	}

	#pu218
	{
		margin-top: 22px;
		width: 100%;
	}

	#u218
	{
		height: 40px;
	}

	#u218-bw
	{
		z-index: 31;
		height: 40px;
	}

	#u219-4-bw
	{
		z-index: 32;
		min-height: 40px;
	}

	#pu226
	{
		margin-top: 49px;
		width: 100%;
	}

	#u226
	{
		height: 206px;
		background-image: url("../images/scottish-ontario-chambers-sparks-street-ottawa-1227769-1278x968.jpg");
		margin-right: -10000px;
		width: 41.67%;
		margin-left: 29.17%;
		left: -224px;
	}

	#u230
	{
		height: 206px;
		background-image: url("../images/wave-shaped-office-building-1172520-1280x960.jpg");
		margin-right: -10000px;
		width: 45.89%;
		margin-left: 27.06%;
		left: 207px;
	}

	#pu237-4
	{
		margin-top: 13px;
		width: 100%;
	}

	#u237-4
	{
		min-height: 20px;
		margin-right: -10000px;
		width: 45.89%;
		margin-left: 27.06%;
		left: -244px;
	}

	#u239-4
	{
		min-height: 20px;
		margin-right: -10000px;
		width: 45.89%;
		margin-left: 27.06%;
		left: 207px;
	}

	#u240-6
	{
		min-height: 304px;
		margin-right: -10000px;
		width: 41.78%;
		margin-left: 29.12%;
		left: -225px;
	}

	#pu241-4
	{
		margin-right: -10000px;
		width: 45.89%;
		margin-left: 27.06%;
	}

	#u241-4
	{
		min-height: 102px;
		width: 100%;
		margin-left: 0%;
		left: 206.5px;
	}

	#u242-4
	{
		min-height: 20px;
		margin-top: 12px;
		width: 100%;
		margin-left: 0%;
		left: 206.5px;
	}

	#pu243
	{
		margin-top: 12px;
		width: 78.7%;
		margin-left: 10.66%;
	}

	#u243
	{
		margin-right: -10000px;
		width: 42.47%;
		margin-left: 28.77%;
		left: 118.5px;
	}

	#u246
	{
		margin-right: -10000px;
		width: 42.47%;
		margin-left: 28.77%;
		left: 306.5px;
	}

	#pu240-6,#u243_img,#u246_img
	{
		width: 100%;
	}

	#pu178
	{
		margin-top: 22px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 481px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9947500000001px;
		padding-bottom: 0px;
		max-width: 720px;
	}

	#u482
	{
		width: 30.84%;
		margin-left: 34.59%;
		left: -249px;
	}

	#u172,#u172-bw
	{
		min-height: 39px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 28px;
		top: 11px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
	}

	#pu218
	{
		margin-top: 46px;
		width: 100%;
	}

	#u218
	{
		height: 40px;
	}

	#u218-bw
	{
		z-index: 31;
		height: 40px;
	}

	#u219-4-bw
	{
		z-index: 32;
		min-height: 40px;
	}

	#pu226
	{
		margin-top: 50px;
		width: 100%;
	}

	#u226
	{
		height: 206px;
		background-image: url("../images/scottish-ontario-chambers-sparks-street-ottawa-1227769-1278x968-u226-fr.jpg");
		margin-right: -10000px;
		width: 41.67%;
		margin-left: 29.17%;
		left: -193px;
	}

	#u230
	{
		height: 206px;
		background-image: url("../images/wave-shaped-office-building-1172520-1280x960-u230-fr.jpg");
		margin-right: -10000px;
		width: 45.84%;
		margin-left: 27.09%;
		left: 180px;
	}

	#pu237-4
	{
		margin-top: 13px;
		width: 100%;
	}

	#u237-4
	{
		min-height: 20px;
		margin-right: -10000px;
		width: 45.84%;
		margin-left: 27.09%;
		left: -212px;
	}

	#u239-4
	{
		min-height: 20px;
		margin-right: -10000px;
		width: 45.84%;
		margin-left: 27.09%;
		left: 180px;
	}

	#u240-6
	{
		min-height: 304px;
		margin-right: -10000px;
		width: 41.81%;
		margin-left: 29.1%;
		left: -193px;
	}

	#pu241-4
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 45.84%;
		margin-left: 27.09%;
	}

	#u241-4
	{
		min-height: 102px;
		width: 100%;
		margin-left: 0%;
		left: 179.99999999999997px;
	}

	#u242-4
	{
		min-height: 20px;
		margin-top: 12px;
		width: 100%;
		margin-left: 0%;
		left: 179.99999999999997px;
	}

	#pu243
	{
		margin-top: 12px;
		width: 90.31%;
		margin-left: 4.85%;
	}

	#u243
	{
		margin-right: -10000px;
		width: 36.92%;
		margin-left: 31.55%;
		left: 92.00000000000001px;
	}

	#u246
	{
		margin-right: -10000px;
		width: 36.92%;
		margin-left: 31.55%;
		left: 279px;
	}

	#pu240-6,#u243_img,#u246_img
	{
		width: 100%;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.8677500000003px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#u172
	{
		min-height: 43px;
		padding-bottom: 29px;
	}

	#u482
	{
		margin-top: 1px;
		width: 50%;
		margin-left: 25%;
		left: 0px;
	}

	#u172-bw
	{
		min-height: 43px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 21px;
		top: 51px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
	}

	#pu218
	{
		margin-top: 13px;
		width: 100%;
	}

	#u218
	{
		height: 40px;
	}

	#u218-bw
	{
		z-index: 31;
		height: 40px;
	}

	#u219-4-bw
	{
		z-index: 32;
		min-height: 40px;
	}

	#u226
	{
		height: 238px;
		background-image: url("../images/scottish-ontario-chambers-sparks-street-ottawa-1227769-1278x968.jpg");
		margin-top: 11px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u237-4
	{
		min-height: 20px;
		margin-top: 13px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u240-6
	{
		min-height: 304px;
		width: 81.67%;
		margin-left: 9.17%;
		left: 4px;
	}

	#u230
	{
		height: 206px;
		background-image: url("../images/wave-shaped-office-building-1172520-1280x960.jpg");
		margin-top: 30px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u239-4
	{
		min-height: 20px;
		margin-top: 21px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u241-4
	{
		min-height: 102px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u242-4
	{
		min-height: 20px;
		margin-top: 22px;
		width: 83.34%;
		margin-left: 8.34%;
		left: 0px;
	}

	#u243
	{
		margin-top: 28px;
		width: 50%;
		margin-left: 25%;
		left: 0px;
	}

	#u246
	{
		margin-top: 28px;
		width: 49.8%;
		margin-left: 25.11%;
		left: 0px;
	}

	#u243_img,#u246_img
	{
		width: 100%;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}

	body
	{
		min-width: 320px;
	}
}

