.version.commercial /* version checker */
{
	color: #000001;
	background-color: #9656D4;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	background-image: none;
	margin-left: auto;
	width: 100%;
	border-color: #000000;
}

#u172_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u482
{
	margin-right: -10000px;
	z-index: 3;
	position: relative;
}

#u173
{
	z-index: 4;
	width: 100%;
}

#u172,#u172-bw
{
	z-index: 2;
}

#u515
{
	z-index: 10;
	right: 0px;
	position: fixed;
}

#u259-5
{
	z-index: 11;
	position: fixed;
}

#u260-5
{
	z-index: 16;
	position: fixed;
}

#u261-5
{
	z-index: 21;
	position: fixed;
}

#u262-5
{
	z-index: 26;
	right: 0px;
	position: fixed;
}

#u256
{
	background-color: transparent;
	border-width: 0px;
	z-index: 31;
	position: relative;
	border-color: transparent;
}

#u258
{
	margin-right: -10000px;
	background-color: #030303;
	position: relative;
	z-index: 32;
}

#u257-4
{
	margin-right: -10000px;
	background-color: transparent;
	text-align: center;
	z-index: 33;
	font-size: 24px;
	min-height: 31px;
	color: #CCCCCC;
	position: relative;
	line-height: 29px;
}

#u284
{
	background-color: transparent;
	z-index: 53;
	position: relative;
}

#u280-4
{
	background-color: transparent;
	z-index: 37;
	min-height: 141px;
	position: relative;
}

#u295
{
	background-color: transparent;
	z-index: 55;
	position: relative;
}

#u281-4
{
	background-color: transparent;
	z-index: 41;
	min-height: 141px;
	position: relative;
}

#u301
{
	background-color: transparent;
	z-index: 57;
	position: relative;
}

#u282-4
{
	background-color: transparent;
	z-index: 45;
	min-height: 99px;
	position: relative;
}

#u307
{
	background-color: transparent;
	z-index: 59;
	position: relative;
}

#u283-4
{
	background-color: transparent;
	z-index: 49;
	min-height: 99px;
	position: relative;
}

#pu178
{
	width: 100%;
}

#u178,#u178-bw
{
	z-index: 5;
}

#u179-4,#u179-4-bw
{
	z-index: 6;
}

.html
{
	background-color: #CCCCCC;
}

body
{
	position: relative;
}

@media (min-width: 901px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u256
	{
		width: 1000px;
		margin-top: 19px;
	}

	#u258,#u257-4
	{
		width: 1000px;
	}

	#pu284
	{
		margin-top: 29px;
		width: 100%;
	}

	#u284
	{
		width: 166px;
		margin-right: -10000px;
		margin-top: 1px;
		left: 67px;
	}

	#pu295
	{
		margin-top: 23px;
		width: 100%;
	}

	#u295
	{
		width: 168px;
		margin-right: -10000px;
		left: 67px;
	}

	#pu301
	{
		width: 100%;
	}

	#u301
	{
		width: 128px;
		margin-right: -10000px;
		left: 87px;
	}

	#u282-4
	{
		width: 680px;
		margin-right: -10000px;
		margin-top: 22px;
		left: 255px;
	}

	#pu307
	{
		margin-top: 6px;
		width: 100%;
	}

	#u307
	{
		width: 166px;
		margin-right: -10000px;
		margin-top: 9px;
		left: 67px;
	}

	#u280-4,#u281-4,#u283-4
	{
		width: 680px;
		margin-right: -10000px;
		left: 255px;
	}

	#pu178
	{
		margin-top: 18px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 721px) and (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 900px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 63px;
	}

	#u515
	{
		width: 551px;
		padding-bottom: 36px;
		top: 27px;
	}

	#u259-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 414px;
	}

	#u260-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 276px;
	}

	#u261-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 139px;
	}

	#u262-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
	}

	#u256
	{
		width: 900px;
		margin-top: 9px;
	}

	#u258,#u257-4
	{
		width: 900px;
	}

	#pu284
	{
		margin-top: 32px;
		width: 100%;
	}

	#u284
	{
		width: 166px;
		margin-right: -10000px;
		left: 16px;
	}

	#pu295
	{
		margin-top: 23px;
		width: 100%;
	}

	#u295
	{
		width: 168px;
		margin-right: -10000px;
		left: 16px;
	}

	#pu301
	{
		margin-top: -1px;
		width: 100%;
	}

	#u301
	{
		width: 128px;
		margin-right: -10000px;
		left: 36px;
	}

	#u282-4
	{
		width: 680px;
		margin-right: -10000px;
		margin-top: 23px;
		left: 204px;
	}

	#pu307
	{
		margin-top: 7px;
		width: 100%;
	}

	#u307
	{
		width: 166px;
		margin-right: -10000px;
		margin-top: 9px;
		left: 16px;
	}

	#u280-4,#u281-4,#u283-4
	{
		width: 680px;
		margin-right: -10000px;
		left: 204px;
	}

	#pu178
	{
		margin-top: 32px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 481px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		max-width: 720px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u482
	{
		width: 30.84%;
		margin-left: 34.59%;
		left: -249px;
	}

	#u172,#u172-bw
	{
		min-height: 39px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 28px;
		top: 11px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
	}

	#u256
	{
		width: 720px;
		margin-top: 11px;
	}

	#u258,#u257-4
	{
		width: 720px;
	}

	#pu284
	{
		margin-top: 54px;
		width: 100%;
	}

	#u280-4
	{
		width: 500px;
		margin-right: -10000px;
		left: 204px;
	}

	#pu295
	{
		margin-top: 37px;
		width: 100%;
	}

	#u295
	{
		width: 168px;
		margin-right: -10000px;
		left: 16px;
	}

	#pu301
	{
		margin-top: 39px;
		width: 100%;
	}

	#u301
	{
		width: 128px;
		margin-right: -10000px;
		left: 35px;
	}

	#pu307
	{
		margin-top: 36px;
		width: 100%;
	}

	#u284,#u307
	{
		width: 166px;
		margin-right: -10000px;
		left: 16px;
	}

	#u281-4,#u282-4,#u283-4
	{
		width: 505px;
		margin-right: -10000px;
		left: 199px;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		max-width: 480px;
	}

	#u172
	{
		min-height: 43px;
		padding-bottom: 29px;
	}

	#u482
	{
		margin-top: 1px;
		width: 50%;
		margin-left: 25%;
		left: 0px;
	}

	#u172-bw
	{
		min-height: 43px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 21px;
		top: 51px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
	}

	#u256
	{
		width: 480px;
		margin-top: 7px;
	}

	#u258,#u257-4
	{
		width: 480px;
	}

	#u284
	{
		width: 239px;
		margin-left: 121px;
		margin-top: 24px;
	}

	#u280-4
	{
		width: 459px;
		margin-left: 10px;
		margin-top: 28px;
	}

	#u295
	{
		width: 240px;
		margin-left: 120px;
		margin-top: 37px;
	}

	#u281-4
	{
		width: 429px;
		margin-left: 40px;
		margin-top: 12px;
	}

	#u301
	{
		width: 240px;
		margin-left: 120px;
		margin-top: 38px;
	}

	#u282-4
	{
		width: 429px;
		margin-left: 40px;
		margin-top: 18px;
	}

	#u307
	{
		width: 240px;
		margin-left: 120px;
		margin-top: 39px;
	}

	#u283-4
	{
		width: 429px;
		margin-left: 40px;
		margin-top: 23px;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}

	body
	{
		min-width: 320px;
	}
}

