#u172
{
	background-color: #FEFBCB;
}

#u482
{
	background-color: transparent;
}

#u173
{
	display: block;
}

#u515
{
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

#u259-5,#u260-5,#u261-5,#u262-5
{
	background-color: transparent;
	text-align: center;
	font-size: 26px;
	line-height: 31px;
}

#u259-3,#u260-3,#u261-3,#u262-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u259,#u260,#u261,#u262
{
	font-size: 14px;
	line-height: 17px;
}

#u178
{
	background-color: #5682C0;
}

#u179-4
{
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
}

@media (min-width: 901px)
{
	#u172_align_to_page
	{
		max-width: 1000px;
	}

}

@media (min-width: 721px) and (max-width: 900px)
{
	#u172_align_to_page
	{
		max-width: 900px;
	}

}

@media (min-width: 481px) and (max-width: 720px)
{
	#u172_align_to_page
	{
		max-width: 720px;
	}

}

@media (max-width: 480px)
{
	#u172_align_to_page
	{
		max-width: 480px;
	}

}

