	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u253
	{
		width: 1000px;
		margin-top: 19px;
	}

	#u254,#u255-4
	{
		width: 1000px;
	}

	#pu317
	{
		margin-top: 29px;
		width: 100%;
	}

	#u317
	{
		width: 165px;
		margin-right: -10000px;
		left: 65px;
	}

	#u323
	{
		width: 138px;
		margin-right: -10000px;
		left: 91px;
	}

	#u314-4
	{
		width: 680px;
		min-height: 141px;
		margin-right: -10000px;
		margin-top: 8px;
		left: 255px;
	}

	#pu323,#pu329
	{
		margin-top: 15px;
		width: 100%;
	}

	#u329
	{
		width: 150px;
		margin-right: -10000px;
		left: 85px;
	}

	#pu335
	{
		margin-top: 13px;
		width: 100%;
	}

	#u335
	{
		width: 155px;
		margin-right: -10000px;
		left: 80px;
	}

	#u313-4,#u315-4,#u316-4
	{
		width: 680px;
		margin-right: -10000px;
		left: 255px;
	}

	#pu178
	{
		margin-top: 12px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}

