	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u208
	{
		width: 1000px;
		margin-top: 19px;
	}

	#u205,#u206-4
	{
		width: 1000px;
	}

	#pu181
	{
		margin-top: 19px;
	}

	#u181
	{
		background-color: transparent;
		margin-top: 1px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u187
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: -125px;
	}

	#u193
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: 123px;
	}

	#u199
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: 370px;
	}

	#u181_img,#u187_img,#u193_img,#u199_img
	{
		width: 100%;
	}

	#pu209-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u209-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u211-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -125px;
	}

	#u212-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 123px;
	}

	#u213-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 370px;
	}

	#pu210-4
	{
		margin-top: 1px;
		width: 100%;
	}

	#u210-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u214-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -125px;
	}

	#u215-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 123px;
	}

	#u216-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 370px;
	}

	#pu178
	{
		margin-top: 44px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}

