	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u249
	{
		width: 1000px;
		margin-top: 19px;
	}

	#u251,#u250-4
	{
		width: 1000px;
	}

	#pu263
	{
		margin-top: 35px;
		width: 100%;
	}

	#u263
	{
		margin-right: -10000px;
		left: 65px;
	}

	#pu269
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 404px;
	}

	#u275-4
	{
		width: 510px;
		margin-left: 21px;
		margin-top: 10px;
	}

	#ppu272
	{
		margin-top: 42px;
		width: 100%;
	}

	#pu272
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 64px;
	}

	#u269,#u270,#u271-5,#u272,#u274,#u273-5
	{
		width: 531px;
	}

	#u276-4
	{
		width: 510px;
		margin-left: 1px;
		margin-top: 6px;
	}

	#u266
	{
		margin-right: -10000px;
		left: 595px;
	}

	#pu178
	{
		margin-top: 32px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}

