	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u130
	{
		width: 1000px;
		padding-bottom: 0px;
		margin-top: 2px;
		position: relative;
	}

	#u130_position_content
	{
		padding-top: 192px;
		width: 100%;
	}

	#u163-4
	{
		margin-left: 405px;
	}

	#u164-4
	{
		width: 660px;
		margin-left: 170px;
		margin-top: 24px;
	}

	#u165
	{
		width: 1001px;
		margin-top: 21px;
	}

	#u166-4
	{
		width: 1001px;
	}

	#u143
	{
		width: 1000px;
		padding-bottom: 7px;
		position: relative;
	}

	#u137
	{
		width: 235px;
		margin-top: 8px;
	}

	#u144
	{
		width: 236px;
		margin-top: 8px;
		left: 255px;
	}

	#u150
	{
		width: 235px;
		margin-top: 8px;
		left: 512px;
	}

	#u156
	{
		width: 236px;
		margin-top: 8px;
		left: 765px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}

