.version.staff /* version checker */
{
	color: #0000E7;
	background-color: #0AAA40;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	background-color: transparent;
	border-width: 0px;
	z-index: 1;
	background-image: none;
	margin-left: auto;
	width: 100%;
	border-color: #000000;
}

#u172_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u482
{
	margin-right: -10000px;
	z-index: 3;
	position: relative;
}

#u173
{
	z-index: 4;
	width: 100%;
}

#u172,#u172-bw
{
	z-index: 2;
}

#u515
{
	z-index: 10;
	right: 0px;
	position: fixed;
}

#u259-5
{
	z-index: 11;
	position: fixed;
}

#u260-5
{
	z-index: 16;
	position: fixed;
}

#u261-5
{
	z-index: 21;
	position: fixed;
}

#u262-5
{
	z-index: 26;
	right: 0px;
	position: fixed;
}

#u208
{
	background-color: transparent;
	border-width: 0px;
	z-index: 31;
	position: relative;
	border-color: transparent;
}

#u205
{
	margin-right: -10000px;
	background-color: #030303;
	position: relative;
	z-index: 32;
}

#u206-4
{
	margin-right: -10000px;
	background-color: transparent;
	text-align: center;
	z-index: 33;
	font-size: 24px;
	min-height: 31px;
	color: #CCCCCC;
	position: relative;
	line-height: 29px;
}

#u209-4
{
	background-color: transparent;
	text-align: center;
	z-index: 45;
	min-height: 21px;
	position: relative;
}

#u181
{
	margin-right: -10000px;
	z-index: 37;
	position: relative;
}

#u210-4
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 49;
	font-size: 13px;
	position: relative;
	line-height: 16px;
}

#u211-4
{
	background-color: transparent;
	text-align: center;
	z-index: 53;
	min-height: 21px;
	position: relative;
}

#u187
{
	margin-right: -10000px;
	z-index: 39;
	position: relative;
}

#u214-4
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 65;
	position: relative;
}

#u212-4
{
	background-color: transparent;
	text-align: center;
	z-index: 57;
	min-height: 21px;
	position: relative;
}

#u193
{
	margin-right: -10000px;
	z-index: 41;
	position: relative;
}

#u215-4
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 69;
	position: relative;
}

#u213-4
{
	background-color: transparent;
	text-align: center;
	z-index: 61;
	min-height: 21px;
	position: relative;
}

#u199
{
	margin-right: -10000px;
	z-index: 43;
	position: relative;
}

#u216-4
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 73;
	position: relative;
}

#pu181,#pu178
{
	width: 100%;
}

#u178,#u178-bw
{
	z-index: 5;
}

#u179-4,#u179-4-bw
{
	z-index: 6;
}

.html
{
	background-color: #CCCCCC;
}

body
{
	position: relative;
}

@media (min-width: 901px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 1000px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 70px;
	}

	#u515
	{
		width: 583px;
		padding-bottom: 36px;
		top: 35px;
	}

	#u259-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 438px;
	}

	#u260-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 292px;
	}

	#u261-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
		right: 147px;
	}

	#u262-5
	{
		width: 145px;
		min-height: 36px;
		top: 35px;
	}

	#u208
	{
		width: 1000px;
		margin-top: 19px;
	}

	#u205,#u206-4
	{
		width: 1000px;
	}

	#pu181
	{
		margin-top: 19px;
	}

	#u181
	{
		background-color: transparent;
		margin-top: 1px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u187
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: -125px;
	}

	#u193
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: 123px;
	}

	#u199
	{
		background-color: transparent;
		width: 22.8%;
		margin-left: 38.6%;
		left: 370px;
	}

	#u181_img,#u187_img,#u193_img,#u199_img
	{
		width: 100%;
	}

	#pu209-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u209-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u211-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -125px;
	}

	#u212-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 123px;
	}

	#u213-4
	{
		margin-right: -10000px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 370px;
	}

	#pu210-4
	{
		margin-top: 1px;
		width: 100%;
	}

	#u210-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -372px;
	}

	#u214-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: -125px;
	}

	#u215-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 123px;
	}

	#u216-4
	{
		min-height: 290px;
		width: 22.7%;
		margin-left: 38.65%;
		left: 370px;
	}

	#pu178
	{
		margin-top: 44px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 721px) and (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.9999999999999px;
		padding-bottom: 0px;
		max-width: 900px;
	}

	#u482
	{
		width: 40%;
		margin-left: 30%;
		left: -282px;
	}

	#u172,#u172-bw
	{
		min-height: 63px;
	}

	#u515
	{
		width: 551px;
		padding-bottom: 36px;
		top: 27px;
	}

	#u259-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 414px;
	}

	#u260-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 276px;
	}

	#u261-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
		right: 139px;
	}

	#u262-5
	{
		width: 137px;
		min-height: 36px;
		top: 27px;
	}

	#u208
	{
		width: 1000px;
		margin-top: 26px;
	}

	#u205,#u206-4
	{
		width: 1000px;
	}

	#u181
	{
		display: block;
		vertical-align: top;
		width: 20.89%;
		margin-left: 39.56%;
		left: -341px;
	}

	#u187
	{
		display: block;
		vertical-align: top;
		width: 20.89%;
		margin-left: 39.56%;
		left: -115px;
	}

	#u193
	{
		display: block;
		vertical-align: top;
		width: 20.89%;
		margin-left: 39.56%;
		left: 112px;
	}

	#u199
	{
		display: block;
		vertical-align: top;
		width: 20.89%;
		margin-left: 39.56%;
		left: 340px;
	}

	#pu209-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u209-4
	{
		margin-right: -10000px;
		width: 20.89%;
		margin-left: 39.56%;
		left: -341px;
	}

	#u211-4
	{
		margin-right: -10000px;
		width: 20.89%;
		margin-left: 39.56%;
		left: -114px;
	}

	#u212-4
	{
		margin-right: -10000px;
		width: 20.89%;
		margin-left: 39.56%;
		left: 112px;
	}

	#u213-4
	{
		margin-right: -10000px;
		width: 20.89%;
		margin-left: 39.56%;
		left: 339px;
	}

	#page_position_content,#pu210-4
	{
		width: 100%;
	}

	#u210-4
	{
		min-height: 290px;
		width: 20.89%;
		margin-left: 39.56%;
		left: -341px;
	}

	#u214-4
	{
		min-height: 290px;
		width: 20.89%;
		margin-left: 39.56%;
		left: -114px;
	}

	#u215-4
	{
		min-height: 290px;
		width: 20.89%;
		margin-left: 39.56%;
		left: 112px;
	}

	#u216-4
	{
		min-height: 290px;
		width: 20.89%;
		margin-left: 39.56%;
		left: 339px;
	}

	#pu181,#pu178
	{
		margin-top: 10px;
	}

	#u178,#u178-bw
	{
		height: 36px;
	}

	#u179-4
	{
		min-height: 27px;
	}

	#u179-4-bw
	{
		min-height: 27px;
		margin-top: 9px;
	}
}

@media (min-width: 481px) and (max-width: 720px)
{
	#muse_css_mq
	{
		background-color: #0002d0;
	}

	#bp_720.active
	{
		display: block;
	}

	#page
	{
		min-height: 776.5893056819533px;
		padding-bottom: 0px;
		max-width: 720px;
	}

	#page_position_content
	{
		width: 100%;
	}

	#u482
	{
		width: 30.84%;
		margin-left: 34.59%;
		left: -249px;
	}

	#u172,#u172-bw
	{
		min-height: 39px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 28px;
		top: 11px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 28px;
		top: 11px;
	}

	#u208
	{
		width: 720px;
		margin-top: 12px;
	}

	#u205,#u206-4
	{
		width: 720px;
	}

	#pu181
	{
		margin-top: 15px;
	}

	#u181
	{
		display: block;
		vertical-align: top;
		margin-top: 1px;
		width: 17.23%;
		left: 2.09%;
	}

	#u187
	{
		display: block;
		vertical-align: top;
		width: 17.37%;
		left: 28.2%;
	}

	#u193
	{
		display: block;
		vertical-align: top;
		width: 17.37%;
		left: 54.31%;
	}

	#u199
	{
		display: block;
		vertical-align: top;
		width: 17.37%;
		left: 80.56%;
	}

	#pu209-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u209-4
	{
		margin-right: -10000px;
		width: 17.37%;
		left: 2.09%;
	}

	#u211-4
	{
		margin-right: -10000px;
		width: 17.37%;
		left: 28.2%;
	}

	#u212-4
	{
		margin-right: -10000px;
		width: 17.37%;
		left: 54.31%;
	}

	#u213-4
	{
		margin-right: -10000px;
		width: 17.37%;
		left: 80.42%;
	}

	#pu210-4
	{
		margin-top: -1px;
		width: 100%;
	}

	#u210-4
	{
		min-height: 290px;
		margin-top: 1px;
		width: 17.37%;
		left: 2.09%;
	}

	#u214-4
	{
		min-height: 290px;
		width: 17.37%;
		left: 28.2%;
	}

	#u215-4
	{
		min-height: 290px;
		width: 17.37%;
		left: 54.31%;
	}

	#u216-4
	{
		min-height: 290px;
		width: 17.37%;
		left: 80.42%;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}
}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 777px;
		max-width: 480px;
	}

	#u172
	{
		min-height: 43px;
		padding-bottom: 29px;
	}

	#u482
	{
		margin-top: 1px;
		width: 50%;
		margin-left: 25%;
		left: 0px;
	}

	#u172-bw
	{
		min-height: 43px;
	}

	#u515
	{
		width: 480px;
		padding-bottom: 21px;
		top: 51px;
	}

	#u259-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 360px;
	}

	#u260-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 240px;
	}

	#u261-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
		right: 121px;
	}

	#u262-5
	{
		width: 120px;
		min-height: 21px;
		top: 51px;
	}

	#u208
	{
		width: 480px;
		margin-top: 5px;
	}

	#u205,#u206-4
	{
		width: 480px;
	}

	#u209-4
	{
		margin-top: 8px;
		width: 70.84%;
		margin-left: 25%;
	}

	#pu181
	{
		margin-top: 1px;
	}

	#u181
	{
		background-color: transparent;
		margin-top: 30px;
		width: 20.84%;
		left: 2.09%;
	}

	#u210-4
	{
		width: 340px;
		min-height: 99px;
		left: 25%;
	}

	#u211-4
	{
		margin-top: 31px;
		width: 70.84%;
		margin-left: 25%;
	}

	#u187
	{
		background-color: transparent;
		margin-top: 27px;
		width: 20.84%;
		left: 2.09%;
	}

	#u214-4
	{
		min-height: 87px;
		width: 70%;
		left: 25.84%;
	}

	#u212-4
	{
		margin-top: 33px;
		width: 70.84%;
		margin-left: 25%;
	}

	#pu193
	{
		margin-top: -2px;
		width: 100%;
	}

	#u193
	{
		background-color: transparent;
		margin-top: 46px;
		width: 20.84%;
		left: 2.09%;
	}

	#u215-4
	{
		min-height: 199px;
		width: 70.84%;
		left: 25%;
	}

	#u213-4
	{
		margin-top: 30px;
		width: 71.25%;
		margin-left: 24.59%;
	}

	#pu199
	{
		margin-top: 16px;
		width: 100%;
	}

	#u199
	{
		background-color: transparent;
		margin-top: 5px;
		width: 20.84%;
		left: 2.09%;
	}

	#page_position_content,#u181_img,#pu187,#u187_img,#u193_img,#u199_img
	{
		width: 100%;
	}

	#u216-4
	{
		min-height: 146px;
		width: 70.84%;
		left: 24.8%;
	}

	#pu178
	{
		margin-top: 14px;
	}

	#u178,#u178-bw
	{
		height: 22px;
	}

	#u179-4
	{
		min-height: 18px;
	}

	#u179-4-bw
	{
		min-height: 18px;
		margin-top: 4px;
	}

	body
	{
		min-width: 320px;
	}
}

