body
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-color: black;
}

.container
{
    width: 500px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

header
{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-image: url("thomas-tixtaaz-rdwkamJlpiU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    align-items: space-around;
    justify-content: space-around;
}

#date
{
    color: white;
    font-size: 32px;
    flex-grow: 1;
    filter: drop-shadow(2px 2px 8px black);
    padding-left: 15px;
    padding-bottom: 5px;
}

.content
{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#list
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.circle-empty
{
    background-image: url("circle-regular.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.circle-checked
{
    background-image: url("check-circle-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.add-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: white;
}



#input
{
    border: 1px solid black;
    border-radius: 5px;
}

input
{
    padding: 10px;
    margin: 5px;
    width: 275px;
}

input, input:hover, input:focus, input:active
{
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    outline: none;
    outline-offset: 0;
}

input::placeholder, input
{
    color: gray;
    font-size: 20px;
    line-height: 1.5;
    opacity: .9;
}

.add-circle
{
    background-image: url("plus-circle-solid.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 32px;
    background-position: center;
    background-size: contain;
    height: 32px;
    opacity: .7;
    transition: opacity .2s;
    border-radius: 100%;
}

.add-circle:hover
{
    opacity: 1;
}

.button-trash
{
    background-image: url("trash-alt-regular.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}



.lineThrough
{
    text-decoration: line-through;
    color: grey;
}

.item
{
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    transition: all .2s;
}

.text
{
    min-width: 200px;
    text-align: center;
    flex-grow: 1;
    max-width: 70%;
    font-size: 18px;
    text-transform: capitalize;
}
.clear
{
    flex-grow: 10;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 15px;
}

.button-refresh
{
    background-image: url("sync-alt-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    filter: drop-shadow(2px 2px 8px black);
    transition: opacity .2s;
    opacity: .5;
}

.button-refresh:hover
{
    opacity: 1;
}