.version.video /* version checker */
{
	color: #0000F3;
	background-color: #FA2630;
}

#page
{
	z-index: 1;
	min-height: 645px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 535px;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#menuu387
{
	z-index: 3;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	width: 96%;
	margin-left: 2%;
}

#u388
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 49.9%;
}

#u389
{
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
	width: 100%;
}

#u389:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u389:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u391-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u389:hover #u391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u389:active #u391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u395
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 49.9%;
	left: 50.11%;
}

#u396
{
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
	width: 100%;
}

#u396.MuseMenuActive
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u399-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
	left: 0%;
}

#u389.MuseMenuActive #u391-4,#u396:hover #u399-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u396:active #u399-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u396.MuseMenuActive #u399-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u383
{
	z-index: 2;
	min-height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 119px;
	position: relative;
	width: 64%;
	margin-left: 15.5%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1000px;
}

