doctype html
html
    head
        title VIN1000
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(href='http://fonts.googleapis.com/css?family=Oswald:300', rel='stylesheet', type='text/css')
        
    body
        .content
            .nav
                .navitems
                    li: h1 VIN1000
                    li: a(href="index.html") Home
                    li: a(href="about.html") About
                    li: a(href="media.html") Media
                    li: a(href="history.html") History
        
            .aboutcontent
                h1 About VIN1000
                p VIN1000 is Tesla Motor's 1,000th Roadster produced. 
                