doctype html
html
    head
        title VIN1000
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet", href="css/styles.css")
        link(href='http://fonts.googleapis.com/css?family=Oswald:300', rel='stylesheet', type='text/css')
        
    body
        .nav
            .navitems
                    li: h1 VIN1000
                    li: a(href="index.html") Home
                    li: a(href="about.html") About
                    li: a(href="media.html") Media
                    li: a(href="history.html") History
                
        .mediacontent
            //h1 Videos
            h1 Images
            .mediabox
                img(src="images/Reno.jpg")
                p Reno, NV
            .mediabox
                img(src="images/Mt.Rushmore.jpg")
                p Mt.Rushmore
            .mediabox
                img(src="images/Sunset.jpg" alt="Sunset")
                p Sunset
            .mediabox
                img(src="images/Bidwell.jpg")
                p Bidwell Mansion, Chico, CA
                    
            