body {
    background-color: #FFF;
    color: #000;
    height:200vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    transition: all 0.15s ease-in-out;
}

h1 {
    font-size:36px;
    font-weight:600;
}

a {
 color:lightblue;
}

.header {
    
    height:100vh;
    width:200px;
    position: fixed;
    left:0;
    top:0;
    text-align:center;
    display:flex;
    flex-flow: wrap column;
    align-items:center;
    padding:5px 0;
    background-color:palegoldenrod;
}

.header img {
}

.logo {
    height:15vh   
}
.header-nav {
    display:flex;
    justify-content: space-around;
    flex-flow: wrap column;
    height:80vh;
}

.header-nav a {
    color:#000;
    font-size:16px;
    
}

.page-content {
    border:1px solid black;
    margin-left: 200px;
    min-height:100vh
}

.main-slideshow {
    width:1000px;
    padding-left: 15vw;
    display:flex;
    flex-flow:wrap column;
    margin: auto;
    height:250px;
    background-image: url(/images/promoBG-winter.jpg);
    background-repeat:no-repeat;
    background-position: center;
}

.main-slideshow h2 {
    color:#FFF;
    font-size:28px;
    font-weight:600;
    padding:15px;
}

.slideshow-box {
    background-color:#000;
    color:#FFF;
    width:275px;
    line-height: 22px;
    padding:10px;
    margin:5px;
    border-radius:10px;
}

.slideshow-link {
    background-color:grey;
    width:150px;
    text-align:center;
    margin:5px;
    padding:5px;
    border:1px solid black;
    border-radius:10px;
}





