@font-face {
  font-family: 'ButteFont';
  src: url("MicrogrammaDBolExtRegular.ttf"); }

/* line 25, C:/Users/Justi/project4/css/main.sass */
* {
  max-width: 100% !important; }

/* line 28, C:/Users/Justi/project4/css/main.sass */
body {
  color: #212121;
  background-color: #F5F5F5;
  min-height: 100vh;
  font-family: arial, sans-serif; }
  /* line 36, C:/Users/Justi/project4/css/main.sass */
  body a {
    color: #212121;
    text-decoration: none; }

/* line 40, C:/Users/Justi/project4/css/main.sass */
header {
  background-color: rgba(255, 255, 255, 0.9);
  height: 75px;
  width: 100vw;
  display: flex;
  flex-flow: wrap row; }

/* line 47, C:/Users/Justi/project4/css/main.sass */
.video-bg {
  min-width: 100vw;
  background-image: url("/images/ButteGlennCommunityCollegeDistrict.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 55, C:/Users/Justi/project4/css/main.sass */
.video-bg video {
  position: fixed;
  top: 50%;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  background-image: url("/images/ButteGlennCommunityCollegeDistrict.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  z-index: -20; }

/* line 73, C:/Users/Justi/project4/css/main.sass */
.top-bar {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  width: 100vw;
  text-align: left; }
  /* line 83, C:/Users/Justi/project4/css/main.sass */
  .top-bar h1 {
    padding-left: 10px;
    font-family: 'ButteFont', 'Orbitron', arial;
    font-size: 26px;
    justify-self: flex-start;
    font-weight: 500; }
  /* line 89, C:/Users/Justi/project4/css/main.sass */
  .top-bar h2 {
    flex: 1;
    padding-left: 10px;
    font-weight: 600;
    font-style: italic;
    font-family: serrif;
    font-size: 18px; }

/* line 97, C:/Users/Justi/project4/css/main.sass */
.title {
  width: 400px;
  height: 75px;
  display: flex;
  flex-flow: wrap row;
  align-items: center; }
  /* line 104, C:/Users/Justi/project4/css/main.sass */
  .title img {
    margin-right: 15px;
    height: 65px; }

/* line 108, C:/Users/Justi/project4/css/main.sass */
.top-bar-links {
  min-width: 500px;
  display: flex;
  justify-content: space-around; }
  /* line 113, C:/Users/Justi/project4/css/main.sass */
  .top-bar-links a {
    transition: all 0.2s ease-in-out; }
    /* line 115, C:/Users/Justi/project4/css/main.sass */
    .top-bar-links a:hover {
      text-decoration: underline; }

/* line 118, C:/Users/Justi/project4/css/main.sass */
.top-bar-wrapper, main-nav-wrapper {
  max-width: 1000px;
  margin: auto; }

/* line 122, C:/Users/Justi/project4/css/main.sass */
.top-bar-wrapper {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  width: 1000px; }

/* line 131, C:/Users/Justi/project4/css/main.sass */
.main-nav {
  width: 100vw;
  display: flex;
  height: 70px;
  background-color: rgba(246, 187, 66, 0.9);
  justify-content: center; }

/* line 138, C:/Users/Justi/project4/css/main.sass */
.main-nav-wrapper {
  display: flex;
  width: 1000px;
  height: 70px;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between; }
  /* line 146, C:/Users/Justi/project4/css/main.sass */
  .main-nav-wrapper img {
    background-color: #f6bb42;
    padding: 10px;
    border: 1px solid #212121; }
  /* line 158, C:/Users/Justi/project4/css/main.sass */
  .main-nav-wrapper a {
    color: #212121;
    height: 100%;
    line-height: 70px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease-in-out; }
    /* line 174, C:/Users/Justi/project4/css/main.sass */
    .main-nav-wrapper a:hover {
      color: #F5F5F5; }

/* line 177, C:/Users/Justi/project4/css/main.sass */
.main-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap column;
  min-height: calc(100vh - 145px);
  width: 100vw;
  color: #F5F5F5;
  background: linear-gradient(top, rgba(246, 187, 66, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(246, 187, 66, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(246, 187, 66, 0.5) 0%, transparent 40%, black 100%);
  background: -ms-linear-gradient(top, rgba(246, 187, 66, 0.2) 0%, transparent 40%, black 100%);
  line-height: 50px;
  font-size: 32px; }
  /* line 193, C:/Users/Justi/project4/css/main.sass */
  .main-cta h1 {
    text-transform: uppercase;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    font-size: 42px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  /* line 198, C:/Users/Justi/project4/css/main.sass */
  .main-cta h2 {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3); }

/* line 201, C:/Users/Justi/project4/css/main.sass */
.main-cta-btn {
  width: 167px;
  margin-top: 15px;
  align-self: center;
  transition: all 0.3s ease-in-out; }
  /* line 206, C:/Users/Justi/project4/css/main.sass */
  .main-cta-btn a {
    background-color: #F5F5F5;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    padding: 15px 25px;
    font-size: 22px;
    text-shadow: 0 0; }
  /* line 214, C:/Users/Justi/project4/css/main.sass */
  .main-cta-btn:hover a {
    color: #f6bb42; }

/* line 217, C:/Users/Justi/project4/css/main.sass */
.is-fixed {
  position: fixed;
  top: 0;
  width: 100vw !important;
  margin: auto; }

/* line 223, C:/Users/Justi/project4/css/main.sass */
.main-cta-text {
  text-align: center;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  padding-bottom: 100px; }

/* line 231, C:/Users/Justi/project4/css/main.sass */
.main-cta-nav {
  display: flex;
  height: 60px;
  z-index: 100;
  width: 1000px;
  justify-content: center;
  flex-flow: wrap row; }
  /* line 241, C:/Users/Justi/project4/css/main.sass */
  .main-cta-nav a {
    width: 320px;
    font-size: 22px;
    font-family: 'Buttefont', arial;
    letter-spacing: 1px;
    text-shadow: 0 0;
    height: 60px;
    line-height: 60px;
    margin: 1px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: #f6bb42; }
    /* line 253, C:/Users/Justi/project4/css/main.sass */
    .main-cta-nav a:hover {
      color: #F5F5F5; }

/* line 256, C:/Users/Justi/project4/css/main.sass */
#about, #events, #news {
  padding-top: 100px;
  width: 1000px;
  display: flex;
  flex-flow: wrap column;
  text-align: center; }

/* line 263, C:/Users/Justi/project4/css/main.sass */
.main-bottom-sections {
  background-color: #212121;
  padding: 50px 0;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  color: #F5F5F5;
  padding-top: 100px;
  min-height: 150vh;
  width: 100vw;
  border-top: 1px solid #f6bb42; }
  /* line 274, C:/Users/Justi/project4/css/main.sass */
  .main-bottom-sections h1 {
    font-family: 'Buttefont';
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 25px; }
  /* line 281, C:/Users/Justi/project4/css/main.sass */
  .main-bottom-sections p {
    line-height: 25px;
    margin: 15px 0; }

/* line 285, C:/Users/Justi/project4/css/main.sass */
.event-link, .news-link {
  margin: 15px 0; }
  /* line 287, C:/Users/Justi/project4/css/main.sass */
  .event-link a, .news-link a {
    color: #F5F5F5;
    font-weight: bold;
    text-decoration: underline; }

/* line 292, C:/Users/Justi/project4/css/main.sass */
footer {
  background-color: #F5F5F5; }

/* line 295, C:/Users/Justi/project4/css/main.sass */
.sitemap-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  background-color: #e4e4e4;
  height: 150px;
  flex-flow: wrap column; }
  /* line 305, C:/Users/Justi/project4/css/main.sass */
  .sitemap-link h2 {
    font-size: 20px; }
  /* line 308, C:/Users/Justi/project4/css/main.sass */
  .sitemap-link a {
    font-size: 18px;
    border: 1px solid #F5F5F5;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 1.2px;
    background-color: #212121;
    color: #F5F5F5;
    transition: all 0.2s ease-in-out; }
    /* line 317, C:/Users/Justi/project4/css/main.sass */
    .sitemap-link a:hover {
      color: #212121;
      background-color: #F5F5F5;
      border-color: #212121; }

/* line 322, C:/Users/Justi/project4/css/main.sass */
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px; }

/* line 329, C:/Users/Justi/project4/css/main.sass */
.social-links {
  height: 80px;
  display: flex;
  width: 199%;
  align-items: center;
  justify-content: center; }
  /* line 335, C:/Users/Justi/project4/css/main.sass */
  .social-links a, .social-links img {
    height: 50px;
    margin: 0 15px; }

/* line 339, C:/Users/Justi/project4/css/main.sass */
.footer-contact {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 345, C:/Users/Justi/project4/css/main.sass */
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; }
  /* line 350, C:/Users/Justi/project4/css/main.sass */
  .footer-links a {
    font-size: 14px; }
    /* line 353, C:/Users/Justi/project4/css/main.sass */
    .footer-links a:hover {
      text-decoration: underline; }
  /* line 355, C:/Users/Justi/project4/css/main.sass */
  .footer-links p {
    font-size: 14px;
    margin: 5px; }

/* line 359, C:/Users/Justi/project4/css/main.sass */
.cs-header {
  width: 100%;
  height: 100px;
  background-color: #F5F5F5; }

/* line 364, C:/Users/Justi/project4/css/main.sass */
.cs-header-wrapper {
  max-width: 1000px;
  display: flex;
  height: 100px;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  margin-top: 70px; }
  /* line 372, C:/Users/Justi/project4/css/main.sass */
  .cs-header-wrapper h1 {
    font-family: ButteFont;
    font-size: 32px; }

/* line 376, C:/Users/Justi/project4/css/main.sass */
.cs-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #D3B850; }

/* line 386, C:/Users/Justi/project4/css/main.sass */
.cs-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 1000px; }
  /* line 395, C:/Users/Justi/project4/css/main.sass */
  .cs-content-wrapper .cs-content-cta {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 500px; }
    /* line 403, C:/Users/Justi/project4/css/main.sass */
    .cs-content-wrapper .cs-content-cta a {
      background-color: #006BCC;
      color: white;
      margin: 15px;
      font-size: 20px;
      padding: 10px 25px;
      transition: all 0.2s ease-in-out;
      border-radius: 10px; }
      /* line 412, C:/Users/Justi/project4/css/main.sass */
      .cs-content-wrapper .cs-content-cta a:hover {
        background-color: white;
        color: #006BCC; }
    /* line 416, C:/Users/Justi/project4/css/main.sass */
    .cs-content-wrapper .cs-content-cta h2 {
      font-size: 36px;
      margin: 15px;
      font-family: 'ButteFont'; }
  /* line 421, C:/Users/Justi/project4/css/main.sass */
  .cs-content-wrapper .cs-content-cta-helpbox {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: space-around;
    height: 150px;
    width: 500px;
    border-radius: 30px;
    padding: 15px;
    background-color: #F5F5F5; }
    /* line 432, C:/Users/Justi/project4/css/main.sass */
    .cs-content-wrapper .cs-content-cta-helpbox h3, .cs-content-wrapper .cs-content-cta-helpbox a {
      font-size: 18px;
      font-weight: 700; }
    /* line 436, C:/Users/Justi/project4/css/main.sass */
    .cs-content-wrapper .cs-content-cta-helpbox p, .cs-content-wrapper .cs-content-cta-helpbox h3, .cs-content-wrapper .cs-content-cta-helpbox a {
      margin-left: 25px; }
    /* line 439, C:/Users/Justi/project4/css/main.sass */
    .cs-content-wrapper .cs-content-cta-helpbox a {
      color: #006BCC; }
      /* line 441, C:/Users/Justi/project4/css/main.sass */
      .cs-content-wrapper .cs-content-cta-helpbox a:hover {
        text-decoration: underline; }

/* line 444, C:/Users/Justi/project4/css/main.sass */
.cs-bottom-content {
  width: 100vw;
  min-height: 20vh;
  display: flex;
  justify-content: center; }
  /* line 451, C:/Users/Justi/project4/css/main.sass */
  .cs-bottom-content .cs-bottom-content-wrapper {
    width: 1000px;
    display: flex; }

/* line 456, C:/Users/Justi/project4/css/main.sass */
.cs-bottom-content-links {
  display: flex;
  flex-flow: wrap column;
  height: 300px;
  justify-content: space-around; }
  /* line 463, C:/Users/Justi/project4/css/main.sass */
  .cs-bottom-content-links a {
    background-color: #D3B850;
    border: 1px solid black;
    width: 250px;
    transition: all 0.2s ease-in-out;
    padding: 5px;
    text-align: center;
    margin: 5px; }
    /* line 471, C:/Users/Justi/project4/css/main.sass */
    .cs-bottom-content-links a:hover {
      background-color: #f6bb42; }

/* line 474, C:/Users/Justi/project4/css/main.sass */
.cs-bottom-content-events {
  display: flex;
  flex-flow: wrap column;
  height: 300px;
  justify-content: center; }
  /* line 479, C:/Users/Justi/project4/css/main.sass */
  .cs-bottom-content-events h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px; }
  /* line 483, C:/Users/Justi/project4/css/main.sass */
  .cs-bottom-content-events p {
    margin: 5px;
    font-size: 14px; }

/* line 487, C:/Users/Justi/project4/css/main.sass */
.site-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  width: 100%;
  max-height: 100vh; }

/* line 495, C:/Users/Justi/project4/css/main.sass */
.site-map-header {
  margin: 15px; }
  /* line 497, C:/Users/Justi/project4/css/main.sass */
  .site-map-header h1 {
    font-size: 32px; }

/* line 500, C:/Users/Justi/project4/css/main.sass */
.site-map-content {
  display: flex;
  flex-flow: wrap row;
  width: 80vw; }
  /* line 504, C:/Users/Justi/project4/css/main.sass */
  .site-map-content a {
    margin: 15px;
    width: 200px;
    height: 35px; }
    /* line 508, C:/Users/Justi/project4/css/main.sass */
    .site-map-content a:hover {
      text-decoration: underline; }

/* line 511, C:/Users/Justi/project4/css/main.sass */
.contact-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  /* line 517, C:/Users/Justi/project4/css/main.sass */
  .contact-content .contact-content-wrapper {
    max-width: 1000px;
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    /* line 527, C:/Users/Justi/project4/css/main.sass */
    .contact-content .contact-content-wrapper .contact-content-header h1 {
      font-size: 36px; }
    /* line 530, C:/Users/Justi/project4/css/main.sass */
    .contact-content .contact-content-wrapper .contact-form {
      display: flex;
      margin-top: 25px;
      flex-flow: wrap column;
      align-items: center; }
      /* line 535, C:/Users/Justi/project4/css/main.sass */
      .contact-content .contact-content-wrapper .contact-form p {
        font-size: 22px;
        margin: 5px; }
      /* line 539, C:/Users/Justi/project4/css/main.sass */
      .contact-content .contact-content-wrapper .contact-form input[type="text"] {
        margin: 5px;
        width: 100%; }
      /* line 543, C:/Users/Justi/project4/css/main.sass */
      .contact-content .contact-content-wrapper .contact-form input[type="Submit"] {
        margin: 5px; }
      /* line 546, C:/Users/Justi/project4/css/main.sass */
      .contact-content .contact-content-wrapper .contact-form input[name="letter"] {
        height: 100px; }

/* line 549, C:/Users/Justi/project4/css/main.sass */
.b_c-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  /* line 555, C:/Users/Justi/project4/css/main.sass */
  .b_c-content .b_c-content-wrapper {
    width: 1000px;
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    /* line 562, C:/Users/Justi/project4/css/main.sass */
    .b_c-content .b_c-content-wrapper .b_c-content-header h1 {
      font-size: 36px; }
    /* line 564, C:/Users/Justi/project4/css/main.sass */
    .b_c-content .b_c-content-wrapper .b_c-content-main {
      display: flex;
      flex-flow: wrap column;
      margin-top: 25px;
      width: 1000px; }
      /* line 571, C:/Users/Justi/project4/css/main.sass */
      .b_c-content .b_c-content-wrapper .b_c-content-main p {
        line-height: 18px; }
      /* line 574, C:/Users/Justi/project4/css/main.sass */
      .b_c-content .b_c-content-wrapper .b_c-content-main h2 {
        font-size: 22px;
        margin-bottom: 5px;
        font-weight: bold; }
      /* line 579, C:/Users/Justi/project4/css/main.sass */
      .b_c-content .b_c-content-wrapper .b_c-content-main h3 {
        font-size: 20px;
        margin: 5px 0;
        font-weight: bold; }
      /* line 584, C:/Users/Justi/project4/css/main.sass */
      .b_c-content .b_c-content-wrapper .b_c-content-main h4 {
        font-weight: bold;
        margin: 5px 0; }
      /* line 588, C:/Users/Justi/project4/css/main.sass */
      .b_c-content .b_c-content-wrapper .b_c-content-main a {
        color: #006BCC;
        text-align: center;
        margin: 5px; }
        /* line 593, C:/Users/Justi/project4/css/main.sass */
        .b_c-content .b_c-content-wrapper .b_c-content-main a:hover {
          text-decoration: underline; }

/* line 596, C:/Users/Justi/project4/css/main.sass */
.catalog-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  /* line 602, C:/Users/Justi/project4/css/main.sass */
  .catalog-content .catalog-content-wrapper {
    width: 1000px;
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    /* line 609, C:/Users/Justi/project4/css/main.sass */
    .catalog-content .catalog-content-wrapper .catalog-header h1 {
      font-size: 36px; }
    /* line 611, C:/Users/Justi/project4/css/main.sass */
    .catalog-content .catalog-content-wrapper .catalog-content-main {
      display: flex;
      flex-flow: wrap column;
      margin-top: 25px;
      align-items: center;
      width: 1000px; }
      /* line 617, C:/Users/Justi/project4/css/main.sass */
      .catalog-content .catalog-content-wrapper .catalog-content-main a {
        color: #006BCC;
        text-align: center;
        margin: 15px; }
        /* line 622, C:/Users/Justi/project4/css/main.sass */
        .catalog-content .catalog-content-wrapper .catalog-content-main a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=main.css.map */