doctype html
html
    head
        title Project 4
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(rel="stylesheet" href='css/MicrogrammaDBolExtRegular.ttf' type="text/css")

        
        
    body
        
        header
        
            .top-bar
                .top-bar-wrapper
                    .title
                        img(src="images/butte-logo.png")
                        
                        .title-text
                            h1 Butte College
                            h2 Start Here... Go Anywhere!
                        
                    .top-bar-links
                        a(href="index.html") Home
                        a(href="http://www.butte.edu/mybc") MyBC
                        a(href="http://butte.edu/maps") Campus Map
                        a(href="http://butte.edu/sustainability") Sustainability
                        a(href="http://butte.edu/foundation") Make a Gift
                        a(href="sitemap.html") Sitemap
                        
            .main-nav
                .main-nav-wrapper
                    a(href="http://www.butte.edu/mybc") Getting Started
                    a(href="http://www.butte.edu/mybc") New Students
                    a(href="currentstudents.html") Current Students
                    a(href="http://www.butte.edu/mybc") Business
                    a(href="http://www.butte.edu/mybc") Community
                    
        .catalog-content
            .catalog-content-wrapper
                .catalog-header
                    h1 Catalog
                
                .catalog-content-main
                    a(href="http://bit.ly/2015-2016Catalog") 2015-2016 Catalog
                    a(href="http://bit.ly/2014-2015Catalog") 2014-2015 Catalog
                    a(href="http://bit.ly/2013-2014Catalog") 2013-2014 Catalog
                    a(href="http://bit.ly/2012-2013Catalog") 2012-2013 Catalog
                    a(href="http://bit.ly/2011-2012Catalog") 2011-2012 Catalog
                    a(href="http://www.butte.edu/departments/curriculum/catalog/documents/2010-2011_Butte_College_Catalog.pdf") 2010-2011 Catalog
                    a(href="http://www.butte.edu/departments/curriculum/catalog/documents/2009-2010_Catalog.pdf") 2009-2010 Catalog
                    a(href="http://www.butte.edu/departments/curriculum/catalog/documents/2008-2009_Butte_College_Catalog.pdf") 2008-2009 Catalog