doctype html
html
    head
        title Project 4
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/responsive.css")
        script(src="js/jquery-2.2.3.min.js")
        script(src="js/functions.js")
        link(rel="stylesheet" href='css/MicrogrammaDBolExtRegular.ttf' type="text/css")

        
        
    body
        
        header
        
            .top-bar
                .top-bar-wrapper
                    .title
                        img(src="images/butte-logo.png")
                        
                        .title-text
                            h1 Butte College
                            h2 Start Here... Go Anywhere!
                        
                    .top-bar-links
                        a(href="index.html") Home
                        a(href="http://www.butte.edu/mybc") MyBC
                        a(href="http://butte.edu/maps") Campus Map
                        a(href="contact.html") Contact Us
                        a(href="http://butte.edu/foundation") Make a Gift
                        a(href="sitemap.html") Sitemap
                        
            .main-nav
                .main-nav-wrapper
                    a(href="http://www.butte.edu/mybc") Getting Started
                    a(href="http://www.butte.edu/mybc") New Students
                    a(href="currentstudents.html") Current Students
                    a(href="http://www.butte.edu/mybc") Business
                    a(href="http://www.butte.edu/mybc") Community
                    
        .cs-header
            .cs-header-wrapper
                h1 Butte College
                h2 MyBC Portal Access
                
        .cs-content
            .cs-content-wrapper
                .cs-content-cta
                    h2 MyBC/Blackboard
                    a(href="https://mybc.butte.edu/CookieAuth.dll?GetLogon?curl=Z2F&reason=0&formdir=3") Login
                .cs-content-cta-helpbox
                    h3 Students:
                    p Login using: user001@student.butte.edu
                    
                    h3 Faculty/Staff:
                    p Login using Doeja@butte.edu
                    
                    a(href="mailto:StudentTechSupport@butte.edu") Student Technical Support
                    p (530) 895-2925
            
        .cs-bottom-content
            .cs-bottom-content-wrapper
                .cs-bottom-content-links
                    a(href="http://www.butte.edu/finals") Final Exam Schedule
                    a(href="http://mail.student.butte.edu/") Student Email
                    a(href="http://www.butte.edu/studentlife") Student Life
                    a(href="http://www.butte.edu/currentstudents/references/maps/bus_schedule_carpooling.html") Bus / Carpooling
                    a(href="http://www.butte.edu/currentstudents/references/maps/") Campus Map
                
                .cs-bottom-content-events
                    h2 Important Dates
                    
                    p SUMMER 2016 - Term Begins (6/13/2016)
                    
                    p SUMMER 2016 LAST DAY to DROP in Person or On-line to be Eligable for a REFUND (6/14/2016)
                    
                    p LAST DAY to ADD SUMMER 2016 Classes (6/16/2016)
                    
                    p SUMMER 2016 LAST DAY to DROP WITHOUT "W" on Transcripts  (6/20/2016)
                    
                    p DEADLINE to Submit SUMMER 2016 Audit, Pass/No Pass & Credit by Exam Forms to A&R  (6/28/2016)
                    
                    p SUMMER 2016 LAST DAY to DROP In Person for a "W" WITHOUT Instructor's Signature; On Line Thru July 3  (6/30/2016)
                    
                    p DEADLINE to Submit SUMMER 2016 Graduation Applications to A&R  (7/21/2016)
                    
                    p SUMMER 2016 Last Day of Instruction  (7/21/2016)